/*
 *
 */

.head_nav {
	z-index: 999;
	width: 100%;
	text-align: center;
	background-color: #313335;
	background-image: url('/lincko/web/images/generic/head/head_nav.png');
	background-repeat: repeat-x;
	position: fixed;
	/*font-family: "Comic Sans MS", Tahoma, Verdana, Helvetica, "Nimbus Sans L", "URW Gothic L", "Lucida Grande", Geneva, "DejaVu Sans", "Microsoft Sans Serif", sans-serif;*/
	overflow: hidden;
}

.head_ul {
	height: 100%;
	list-style: none;
	white-space: nowrap;
	max-width: 960px;
	font-size: 15px;
	font-weight: bold;
}

.head_menu, .head_account, .head_signout, .head_signin, .head_joinus, .head_logo, .head_signin_mobile {
	display: table;
	padding: 0 16px 0 16px;
	color: #F8F8F8;
	white-space: nowrap;
	height: 100%;
	cursor: pointer; cursor: hand;
}

.head_menu > span, .head_account > span, .head_signout > span, .head_signin > span, .head_joinus > span, .head_logo > span, .head_signin_mobile > span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/*
 * HEAD CLASSIC MENU
 */

.head_menu:hover {
	background-color: #181A15;
	background-image: none;
}

.head_menu.active {
	cursor: default;
}

.head_menu:active, .head_menu.active {
	color: #6F7377;
	background-image: url('/lincko/web/images/generic/head/head_nav_active.png');
	box-shadow: inset 4px 4px 13px -5px #313335;
	-moz-box-shadow: inset 4px 4px 13px -5px #313335;
	-webkit-box-shadow: inset 4px 4px 13px -5px #313335;
}

/*
 * PAGE TITLE
 */

.head_title {
	color: #F8F8F8;
	white-space: nowrap;
	cursor: default;
}

/*
 * ENTER MY ACCOUNT
 */

.head_account {
	cursor: default;
}

.head_account > span > span:hover {
	border-bottom: 2px solid currentColor;
	padding-bottom: 1px;
	cursor: pointer; cursor: hand;
}


/*
 * SIGN OUT
 */

.head_signout {
	cursor: default;
	font-weight: normal;
	font-size: 13px;
	color: #E0BC8D;
}

.head_signout > span > span:hover {
	border-bottom: 1px solid currentColor;
	padding-bottom: 1px;
	cursor: pointer; cursor: hand;
}


/*
 * SIGN IN
 */

.head_joinus {
	cursor: default;
}

.head_joinus > span > span:hover {
	border-bottom: 2px solid currentColor;
	padding-bottom: 1px;
	cursor: pointer; cursor: hand;
}

/*
 * LOGO
 */

.head_logo {
	cursor: default;
}

/*
 * JOIN US
 */

.head_signin {
	cursor: default;
}

.head_signin > span > span {
	background-color: #FFA700;
	border: 2px solid #FFA700;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	cursor: pointer; cursor: hand;
	padding: 8px 24px 8px 24px;
}

.head_signin > span > span:hover {
	background-color: #FFA700;
	border-color: #FFFFFF;
}

/*
 * LOGO
 */

.head_logo {
	cursor: default;
}

.head_logo > span > div{
	
}

.head_image {
	display: none;
	height: 86%;
	margin-top: 5px; /* It just help to align it with other text */
	cursor: pointer; cursor: hand;
}

/*
 * MOBILE VERSION
 */

.head_ul.mobile {
	font-size: 14px;
}

.head_menu.icons {
	padding: 0 8px 0 8px;
}

.head_icons {
	height: 32px;
	width: 32px;
}

.head_joinus.mobile > span > span {
	background-color: #FFA700;
	padding: 4px 16px 4px 16px;
	border-radius: 48px;
	-moz-border-radius: 48px;
	-webkit-border-radius: 48px;
}


/*
 * MENU MOBILE EXTENSION
 */

.head_menu_extend {
	background-color: #FFFFFF;
	position: absolute;
	font-size: 14px;
	width: 100%;
	min-height: 100%;
	display: none;
}

.head_menu_deco {
	display: table;
	white-space: nowrap;
	color: #6F7377;
	background-color: #FAFBFC;
	border-bottom: solid 1px #EBEFF3;
	cursor: pointer; cursor: hand;
	overflow: hidden;
}

.head_menu_deco:hover {
	background-color: #FFFFFF;
}

.head_menu_deco > span {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 0 16px 0 16px;
	height: 200%;
}

