/*
 *
 */

.mobile_menu_wrapper {
	background-color: #FFFFFF;
	position: absolute;
	font-size: 14px;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: none;
	overflow: hidden;
}

.mobile_menu_top {
	display: table;
	height: 48px;
	width: 100%;
	text-align: center;
	background-color: #313335;
	background-image: url('/lincko/web/images/generic/mobile_menu/top.png');
	background-repeat: repeat-x;
	position: fixed;
	/*font-family: "Comic Sans MS", Tahoma, Verdana, Helvetica, "Nimbus Sans L", "URW Gothic L", "Lucida Grande", Geneva, "DejaVu Sans", "Microsoft Sans Serif", sans-serif;*/
	overflow: hidden;
}

.mobile_menu_content {
	width: 100%;
	top: 48px;
	bottom: 0px;
	position: absolute;
	overflow: hidden;
	overflow-y: auto;
}

.mobile_menu_back {
	display: table-cell;
	padding: 0 0px 0 16px;
	color: #F8F8F8;
	white-space: nowrap;
	height: 100%;
	cursor: pointer; cursor: hand;
	vertical-align: middle;
	text-align: center;
}

.mobile_menu_back:hover {
	background-color: #181A15;
	background-image: none;
}

.mobile_menu_back:active {
	color: #6F7377;
	background-image: url('/lincko/web/images/generic/mobile_menu/active.png');
	box-shadow: inset 4px 4px 13px -5px #313335;
	-moz-box-shadow: inset 4px 4px 13px -5px #313335;
	-webkit-box-shadow: inset 4px 4px 13px -5px #313335;
}

.mobile_menu_title {
	display: table-cell;
	padding: 0 16px 0 16px;
	color: #F8F8F8;
	white-space: nowrap;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.mobile_menu_deco {
	display: table;
	white-space: nowrap;
	color: #6F7377;
	background-color: #FAFBFC;
	border-bottom: solid 1px #EBEFF3;
	cursor: pointer; cursor: hand;
	overflow: hidden;
	text-align: left;
}

.mobile_menu_deco:hover {
	background-color: #FFFFFF;
}

.mobile_menu_deco > span {
	display: table-cell;
	vertical-align: middle;
	padding: 0 16px 0 16px;
}

.mobile_menu_value {
	font-style: italic;
	text-align: right !important;
}

.mobile_menu_radio {
	text-align: right !important;
}

.mobile_menu_radio_icon {
	height: 20px;
}

.mobile_menu_back_image {
	border-right: #343434 2px solid;
	padding-right: 14px;
}

.mobile_menu_back_image:hover {
	border-color: transparent;
}

.mobile_menu_back_image:active {
	border-color: transparent;
}
