/* 
 *
 */

.home_top_div {
	background-color: #FEFEFE;
	width: 100%;
	height: 1px;
}

.home_joinus_box {
	position: absolute;
	right: 5%;
	z-index: 100;
}

.home_joinus_box > div, .home_joinus_box > label {
	display: block;
	background-color: rgba(249, 249, 249, 0.6);
	width: 222px;
	padding: 10px 20px 10px 20px;
	border-radius: 4px;
	margin-bottom: 4px;
}

#home_joinus_tos {
	cursor: pointer; cursor: hand;
	font-size: 12px;
	color: #7E7E7E;
	display: none;
}

#home_joinus_tos:hover {
	background-color: rgba(255, 246, 229, 0.9);
	color: #3A3D41;
}

#home_joinus_error {
	display: none;
	background-color: rgba(255, 68, 68, 0.8);
	color: #F8F8F8;
	font-size: 13px;
	cursor: default;
}

.home_label_inside {
	display: block;
	font-size: 16px;
	color: #3A3D41;
	cursor: text;
	margin-bottom: 10px;
}

.home_label_inside > span {
	color: #BABDC0;
	position: absolute;
	padding: 6px 10px 6px 10px;
}

.home_label_inside > input {
	padding: 6px 10px 6px 9px;
	font-size: 16px;
	background: #FFFFFF;
	background-color: #FFFFFF;
	background: -webkit-linear-gradient(#FFFFFF,#F2F2F2) !important; /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFFFFF,#F2F2F2) !important; /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF,#F2F2F2) !important; /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFFFF,#F2F2F2) !important; /* Standard syntax */
	border-radius: 4px;
	border-width: 1px;
	width: 200px
}

#home_joinus_submit {
	display: block;
	padding: 8px 10px 8px 10px;
	border-radius: 4px;
	font-size: 16px;
	color: #F8F8F8;
	background-color: #FFA700;
	width: 222px;
	border-style: none;
	font-weight: bold;
	cursor: pointer; cursor: hand;
}

#home_joinus_submit:hover {
	background-color: #FFC251;
}

.home_joinus_submit_active, #home_joinus_submit:active {
	background-color: #E89700 !important;
}

.home_joinus_div {
	text-align: center;
	color: #888888;
	font-size: 14px;
	padding-top: 6px;
}

#home_signin_link {
	color: #2895F2;
	cursor: pointer; cursor: hand;
}

#home_signin_link:hover {
	text-decoration: underline;
}

#home_great_projects {
	position: fixed;
	z-index: 3;
	font-size: 48px;
	color: #292B29;
	line-height: 90%;
	width: 100%;
	max-width: 100%;
	white-space: nowrap;
	text-align: center;
}

#home_captcha {
	width: 80px;
	height: 30px;
	border-radius: 3px;
	border: 1px #B5B5B5 solid;
	vertical-align: top;
	cursor: pointer; cursor: hand;
}

#home_joinus_captcha {
	width: 80px;
}

#home_main_image {
	position: relative;
	display: table;
	background-color: transparent;
	background-image: url("");
	background-repeat: no-repeat;
	background-position: 65% 28%;
	background-size: cover;
	width: 100%;
	height: 100%;
}
