@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?g7wpvj');
    src:    url('fonts/icomoon.eot?g7wpvj#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?g7wpvj') format('truetype'),
        url('fonts/icomoon.woff?g7wpvj') format('woff'),
        url('fonts/icomoon.svg?g7wpvj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-AddPerson:before {
    content: "\e902";
}
.icon-Forward:before {
    content: "\e903";
}
.icon-Hash:before {
    content: "\e904";
}
.icon-Plus-no-circle:before {
    content: "\e905";
}
.icon-Search:before {
    content: "\e906";
}
.icon-Trash:before {
    content: "\e907";
}
.icon-Accordion:before {
    content: "\e908";
}
.icon-Actions:before {
    content: "\e909";
}
.icon-Add:before {
    content: "\e90a";
}
.icon-Big-Add:before {
    content: "\e90b";
}
.icon-Calendar:before {
    content: "\e90c";
}
.icon-Chat:before {
    content: "\e90d";
}
.icon-Cloud:before {
    content: "\e90e";
}
.icon-Cloud-Download:before {
    content: "\e90f";
}
.icon-Cloud-Files:before {
    content: "\e910";
}
.icon-Collapsed:before {
    content: "\e900";
}
.icon-Docs:before {
    content: "\e911";
}
.icon-Filter:before {
    content: "\e912";
}
.icon-Indicator:before {
    content: "\e901";
}
.icon-Menu:before {
    content: "\e913";
}
.icon-Multiple-People:before {
    content: "\e914";
}
.icon-Multiple-People-Selected:before {
    content: "\e915";
}
.icon-Multipler-Persona:before {
    content: "\e916";
}
.icon-New-Notes:before {
    content: "\e917";
}
.icon-Notes-3:before {
    content: "\e918";
}
.icon-Pencil:before {
    content: "\e919";
}
.icon-Settings:before {
    content: "\e91a";
}
.icon-Single-Person:before {
    content: "\e91b";
}
.icon-Single-Person-Selected:before {
    content: "\e91c";
}
.icon-Small-Persona:before {
    content: "\e91d";
}
.icon-Tasks:before {
    content: "\e91e";
}
.icon-Tasks-checked:before {
    content: "\e91f";
}
.icon-Tasks-unchecked:before {
    content: "\e920";
}

