.alphaScroll_slider{
    position: absolute;
    cursor: pointer; cursor: hand;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 0;
    bottom: 0;
    right: 0;
    list-style: none;
    padding: 2px;
    padding-right: 0;
    margin: 0px;
    text-align: right;
    font-size: 12px;
}
.alphaScroll_slider li{
	padding: 0px 0px 0px 4px;
}
.alphaScroll_slider_active {
    color: #000000;
    width: 100%;
}

.alphaScroll_slider_text {
    width: 20px;
    text-align: center;
    display: inline-block;
}

.alphaScroll_slider_active .alphaScroll_slider_text {
    background-color: rgba(0, 0, 0, 0.2);
}

.alphaScroll_popup{
    font-size: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events:none; /* event that pass through the elment */
}
[alphascroll]:before{
    display: table-caption;
    background-color: rgba(151, 151, 151, 0.2);
    padding: 2px 0px 2px 10px;
}
[alphascroll="A"]:before{
	content: 'A';
}
[alphascroll="B"]:before{
	content: 'B';
}
[alphascroll="C"]:before{
	content: 'C';
}
[alphascroll="D"]:before{
	content: 'D';
}
[alphascroll="E"]:before{
	content: 'E';
}
[alphascroll="F"]:before{
	content: 'F';
}
[alphascroll="G"]:before{
	content: 'G';
}
[alphascroll="H"]:before{
	content: 'H';
}
[alphascroll="I"]:before{
	content: 'I';
}
[alphascroll="J"]:before{
	content: 'J';
}
[alphascroll="K"]:before{
	content: 'K';
}
[alphascroll="L"]:before{
	content: 'L';
}
[alphascroll="M"]:before{
	content: 'M';
}
[alphascroll="N"]:before{
	content: 'N';
}
[alphascroll="O"]:before{
	content: 'O';
}
[alphascroll="P"]:before{
	content: 'P';
}
[alphascroll="Q"]:before{
	content: 'Q';
}
[alphascroll="R"]:before{
	content: 'R';
}
[alphascroll="S"]:before{
	content: 'S';
}
[alphascroll="T"]:before{
	content: 'T';
}
[alphascroll="U"]:before{
	content: 'U';
}
[alphascroll="V"]:before{
	content: 'V';
}
[alphascroll="W"]:before{
	content: 'W';
}
[alphascroll="X"]:before{
	content: 'X';
}
[alphascroll="Y"]:before{
	content: 'Y';
}
[alphascroll="Z"]:before{
	content: 'Z';
}
