.burger_dropdown {
	/*width: 200px;*/
	outline: none;
	font-size: 12px;
	display: block;
	position: fixed;
	z-index: 15000;
	display: none;
	text-align: initial;
	box-shadow: 0px 0px 4px 0px #3F84B0;
}
.burger_tag {
	color: #53ADD2;
	padding: 0px 5px;
	cursor: pointer; cursor: hand;
	white-space: nowrap;
}
.burger_tag:after {
	content: ' ';
}
.burger_tag[find=name]{
	color: #3677a7;
    font-weight: 400;
}
.burger_tag[find=name]:before{
	color: #53ADD2;
	content:'@';
}
.burger_tag[find=dateWrapper]:before{
	content:'+';
}

.burger_option {
	padding: 5px 10px;
	width: 180px;
	overflow: hidden;
}
.burger_option:hover, .burger_option_selected, .burger_option_preSelect {
	background: #B6D6E8;
}
.burger_option [find=image], 
.burger_option [find=text] {
	display: none;
}
.burger_dropdown .burger_latestvisitProjects_border {
	border-bottom: 1px solid rgba(63,132,176,.5);
}

.burger_option_users [find=image] {
    display: inline-block;
    font-size: 28px;
    text-align: center;
    border: 1px solid #FBA026;
    color: #FBA026;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    line-height: 34px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.burger_option [find=text] {
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	font-size: 20px;
	color: #3F84B0;
	width: 100px;
	white-space: nowrap;
}
.burger_option_users [find=text]{
	width: 135px;
	/*white-space: normal;
    line-height: 21px;
    max-height: 36px;*/
}
.burger_option_inviteUser{
	border-top: 1px solid rgba(63,132,176,.5);
    box-sizing: border-box;
    width: 100%;
    font-size: 10px;
}
.burger_option_inviteUser [find=image]{
	font-size: 34px;
	color: #3F84B0;
    text-align: left;
    border: none;
}
.burger_option_inviteUser [find=text]{
	color: #475577;
	font-size: 16px;
	/*white-space: normal;
    line-height: 20px;*/
}



/*----------burger_calendar----------------------*/
.burger_calendar {
	z-index: 5000 !important;
	height: 352px;
	width: 402px;
	background: #FFFFFF;
	box-shadow: 0px 0px 4px 0px #3F84B0;
	border-radius: 3px;
	text-align: center;
	box-sizing: border-box;
}

.burger_calendar .ui-widget-header{
	margin-top: 100px;
	margin-bottom: 5px;
}
.burger_calendar .ui-datepicker-calendar{
	height: 185px;
	width: 267px;
	/*border: 1px solid #FBA026;*/
	border-radius: 5px;
	display: inline-block;
}

.burger_calendar_prepend{
	position: absolute;
	text-align: center;
}
.burger_calendar_prepend [find=row1], .burger_calendar_prepend [find=row2]{
	display: inline-block;
	border: 1px solid #FFFFFF;
	width: 300px;
	font-size: 14px;
}
.burger_calendar_prepend [find=today_info]{
	text-align: center;
	font-size: 18px;
	color: #000000;
	padding: 10px;
}
.burger_calendar_prepend [find=today_btn],
.burger_calendar_prepend [find=twoDays_btn],
.burger_calendar_prepend [find=tomorrow_btn],
.burger_calendar_prepend [find=oneWeek_btn]{
	width: 130px;
	display: inline-block;
	color: #3F84B0;
}
.burger_calendar_prepend [find=today_btn],
.burger_calendar_prepend [find=tomorrow_btn]{
	text-transform: capitalize;
}
.burger_calendar_prepend [find=today_btn], .burger_calendar_prepend [find=twoDays_btn]{
	text-align: right;
	padding-right: 5px;
}
.burger_calendar_prepend [find=tomorrow_btn], .burger_calendar_prepend [find=oneWeek_btn]{
	text-align: left;
	padding-left: 5px;
}
.burger_calendar_prepend_active {
	color: #FBA026 !important;
}

.burger_calendar .ui-widget-header {
	background: none;
	border: none;
	font-size: 16px;
}
.burger_calendar .ui-datepicker-title{
	font-size: 16px;
	color: #3F84B0;
	text-transform: uppercase;
}
.burger_calendar .ui-datepicker-prev [find=text],
.burger_calendar .ui-datepicker-next [find=text]{
	top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
	left: auto;
	right: auto;
    opacity: 0.6;
    white-space: nowrap;
}
.burger_calendar .ui-datepicker-prev [find=text]{
	right: -20px;
}
.burger_calendar .ui-datepicker-next [find=text]{
	left: -20px;
}
.burger_calendar .ui-datepicker-header .icon-Forward{
	font-size: 26px;
    line-height: 26px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
}
.burger_calendar .ui-datepicker-prev .icon-Forward{
	left: 0px;
}
.burger_calendar .ui-datepicker-next .icon-Forward{
	right: 0px;
}
.burger_calendar .ui-datepicker-prev,
.burger_calendar .ui-datepicker-prev:hover,
.burger_calendar .ui-datepicker-next, 
.burger_calendar .ui-datepicker-next:hover{
	font-weight: normal;
	top: 6px;
	line-height: 24px;
	color: #3F84B0;
	border: none;
}
.burger_calendar .ui-datepicker-header .ui-state-hover{
	background: none;
}
.burger_calendar .ui-datepicker-next, .burger_calendar .ui-datepicker-next:hover{
	right: 10%;
}
.burger_calendar .ui-datepicker-prev, .burger_calendar .ui-datepicker-prev:hover{
	left: 10%;
}

.burger_calendar .ui-datepicker-calendar th {
	font-size: 13px;
	color: #A29F9F;
	padding: 4px 0px;
	font-weight: normal;
}


.burger_calendar .ui-datepicker-calendar td{
	height: 27px;
	width: 38px;
	padding: 0px;
	text-align: center;
	box-sizing: border-box;
}
.burger_calendar .ui-datepicker-calendar td span, .burger_calendar .ui-datepicker-calendar td a{
	padding: 0px;
	text-align: center;
	line-height: 25px;
	display: inline-block;
}

.burger_calendar .ui-state-default{
	height: 100%;
	border: 0px;
	background: none;
	font-size: 13px;
	color: #000000;
	font-weight: normal !important;
}
.burger_calendar .ui-state-highlight {
	color: #FBA026;
	text-decoration: underline;
}
.burger_calendar .ui-state-active {
	background: #FBA026;
	height: 27px;
	width: 27px;
	border: none;
	border-radius: 27px;
	color: #FFFFFF;
}

.burger_calendar_clickHandler{
	position: absolute;
	z-index: 5000;
	outline: none;
	box-shadow: 0px 0px 4px 0px #3F84B0;
}
.burger_calendar_clickHandler .burger_calendar{
	box-shadow: none;
}


/*------END OF burger_calendar----------------------*/



/*--------burger_typeTask----------------------------*/
.burger_typeTask {
	/*height: 60px;*/
    background-color: #ffffff;
    margin-bottom: 3px;
}
.burger_typeTask_opacity{
	opacity: 0.6;
}
.burger_typeTask table{
	width: 100%;
    height: 100%;
    min-height: 60px;
    border-collapse: collapse;
}
.burger_typeTask [find=checkbox_td]{
	width: 1px;
}
.burger_typeTask .skylist_checkbox {
	cursor: default;
}
.burger_typeTask [find=userid]{
	top: 0px;
    position: absolute;
    right: 0px;
}
