.comments_input{
	line-height: 24px;
	font-size: 16px;
	padding: 4px;
	overflow-y:auto;
	text-align: left;
	outline: 0; 
	color:black;
	background-color: white;
}

.submenu_chats .submenu_bottom{
	height:auto;
}

.inputter_container{
	background-color: #ffffff;
	height:auto;
	overflow : hidden;
	padding:8px;
}

.inputter_checkbox
{
	cursor: pointer;
	border: 1px solid #475577;
	height: 23px;
	width: 23px;
	display: inline-block;
	border-radius: 6px;
	vertical-align: middle;
	font-size: 24px !important;
	margin: 0 10px;
}
.inputter_checkbox:before{
	display: none;
}
.inputter_container_checked .inputter_checkbox:before{
	display: initial !important;
}

.inputter_container ul,.inputter_container ul li
{
	height:auto;
	overflow : hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}


.inputter_line_10{
	border-top:  1px solid #FBA026;
}

.inputter_line_01{
	border-top: none;
}

.inputter_line_11{
	border-top:  1px solid #FBA026;
}

.inputter_row{
	height:auto;
}

.inputter_min_row_1{
	min-height : 24px;
}

.inputter_min_row_2{
	min-height : 48px;
}

.inputter_min_row_3{
	min-height : 72px;
}

.inputter_min_row_4{
	min-height : 96px;
}

.inputter_min_row_5{
	min-height : 120px;
}



.inputter_max_row_1{
	max-height : 24px;
}

.inputter_max_row_2{
	max-height : 48px;
}

.inputter_max_row_3{
	max-height : 72px;
}

.inputter_max_row_4{
	max-height : 96px;
}

.inputter_max_row_5{
	max-height : 120px;
}


.inputter_ico{
	width:auto;
	height:30px;
	font-size: 30px;
	cursor: pointer; 
	cursor: hand;
	color : #FBA026;
}

.inputter_preview
{
	width:30px;
	height:30px;
	overflow: hidden;
}

.inputter_content{
	height:auto;
}


.inputter_left_menu_wrapper{
	position : absolute;
	top : 10px;
	left : 0;
	width : auto;
	height : auto;
	overflow: hidden;
}

.inputter_left_menu_wrapper ul{
	width : auto;
	height : auto;
	overflow : hidden;
}

.inputter_left_menu_wrapper ul li{
	float : left;
	margin-right:10px;
	margin-bottom: 10px;
}

.inputter_right_menu_wrapper{
	position : absolute;
	top : 10px;
	right : 0;
	width : auto;
	height : auto;
	overflow: hidden;
}

.inputter_right_menu_wrapper ul{
	width : auto;
	height : auto;
	overflow : hidden;
}

.inputter_right_menu_wrapper ul li{
	float : right;
	margin-right:10px;
	margin-bottom: 10px;
}


.margin-right-1{
	margin-right:40px;
}


.margin-right-2{
	margin-right:80px;
}

.margin-right-3{
	margin-right:120px;
}

.margin-right-4{
	margin-right:160px;
}

.margin-right-5{
	margin-right:200px;
}

.margin-left-1{
	margin-left:40px;
}

.margin-left-2{
	margin-left:80px;
}

.margin-left-3{
	margin-left:120px;
}

.margin-left-4{
	margin-left:160px;
}

.margin-left-5{
	margin-left:200px;
}

.inputter_uploading_wrapper{
	height: auto;
}

.inputter_uploading_wrapper ul{
	height: auto;
	text-align: left;
}

.inputter_uploading_wrapper ul li
{
	height: 30px;
    text-align: center;
    display: inline-block;
    max-width: 50px;
    overflow: hidden;
    margin: 5px 5px;
    vertical-align: text-top;
}

.inputter_uploading_wrapper ul li img
{
	height:30px;
	width:auto;
}

.inputter_uploading_wrapper ul li span
{
	font-size: 25px;
}

.desktop_hide{
	display : none;
}
    

/*@media only screen and (max-width: 1279px){*/
	.no_desktop_style.inputter_line_10{
		border-top: none;
	}

	.no_desktop_style.inputter_line_01{
		border-top:  1px solid #FBA026;
	}

	.no_desktop_style .inputter_left_menu_wrapper ul{
		float:left;
	}

	.no_desktop_style .inputter_right_menu_wrapper ul{
		float:right;
	}

	.no_desktop_style .mobile_hide{
		display : none;
	}

	.no_desktop_style .desktop_hide{
		display : block;
	}



	.no_desktop_style .mobile-margin-right-1{
		margin-right:40px !important;
	}


	.no_desktop_style .mobile-margin-right-2{
		margin-right:80px !important;
	}

	.no_desktop_style .mobile-margin-right-3{
		margin-right:120px !important;
	}

	.no_desktop_style .mobile-margin-right-4{
		margin-right:160px !important;
	}

	.no_desktop_style .mobile-margin-right-5{
		margin-right:200px !important;
	}


	.no_desktop_style .mobile-margin-left-1{
		margin-left:40px !important;
	}

	.no_desktop_style .mobile-margin-left-2{
		margin-left:80px !important;
	}

	.no_desktop_style .mobile-margin-left-3{
		margin-left:120px !important;
	}

	.no_desktop_style .mobile-margin-left-4{
		margin-left:160px !important;
	}

	.no_desktop_style .mobile-margin-left-5{
		margin-left:200px !important;
	}

	.no_desktop_style .inputter_mobile_min_row_1{
		min-height : 24px !important;
	}

	.no_desktop_style .inputter_mobile_min_row_2{
		min-height : 48px !important;
	}

	.no_desktop_style .inputter_mobile_min_row_3{
		min-height : 72px !important;
	}

	.no_desktop_style .inputter_mobile_min_row_4{
		min-height : 96px !important;
	}

	.no_desktop_style .inputter_mobile_min_row_5{
		min-height : 120px !important;
	}

	.no_desktop_style .inputter_mobile_max_row_1{
		max-height : 24px !important;
	}

	.no_desktop_style .inputter_mobile_max_row_2{
		max-height : 48px !important;
	}

	.no_desktop_style .inputter_mobile_max_row_3{
		max-height : 72px !important;
	}

	.no_desktop_style .inputter_mobile_max_row_4{
		max-height : 96px !important;
	}

	.no_desktop_style .inputter_mobile_max_row_5{
		max-height : 120px !important;
	}

	.no_desktop_style.inputter_mobile_backgroup_gray{
		background-color: #EFEFEF !important;
	}

	.no_desktop_style .inputter_mobile_input_border_orange{
		border-radius: 3px;
		background-color: #fffdfd;
		border : 1px solid #FBA026 !important;
		border-color:#FBA026 !important;
	}

	.no_desktop_style .inputter_uploading_wrapper{
		display: none;
	}
