.comments_input{
	line-height: 24px;
	font-size: 16px;
	padding: 4px;
	overflow-y:auto;
	text-align: left;
	outline: 0; 
	color:black;
	background-color: white;
}

.submenu_chats .submenu_bottom{
	height:auto;
}

.inputter_container{
	background-color: #ffffff;
	height:auto;
	padding:8px;
}

.inputter_icon_blue{
	color: #475577 !important;
}

.inputter_icon_big_size{
	font-size: 37px !important;
}

.inputter_icon_add_fix{
	margin-right: 3px;
	margin-top : -3px;
}

.inputter_checkbox
{
	cursor: pointer;
	border: 1px solid #475577;
	height: 23px;
	width: 23px;
	display: inline-block;
	border-radius: 6px;
	vertical-align: middle;
	font-size: 24px !important;
	margin: 2px  10px 0 14px;
}
.inputter_checkbox:before{
	display: none;
}
.inputter_container_checked .inputter_checkbox:before{
	display: inline !important;
}

.inputter_container ul,.inputter_container ul li
{
	height:auto;
	margin: 0;
	padding: 0;
	list-style: none;
}


.inputter_line_10{
	border-top:  1px solid #FBA026;
}

.inputter_line_01{
	border-top: none;
}

.inputter_line_11{
	border-top:  1px solid #FBA026;
}

.inputter_row{
	height:auto;
}

.inputter_min_row_1{
	min-height : 24px;
}

.inputter_min_row_2{
	min-height : 48px;
}

.inputter_min_row_3{
	min-height : 72px;
}

.inputter_min_row_4{
	min-height : 96px;
}

.inputter_min_row_5{
	min-height : 120px;
}



.inputter_max_row_1{
	max-height : 24px;
}

.inputter_max_row_2{
	max-height : 48px;
}

.inputter_max_row_3{
	max-height : 72px;
}

.inputter_max_row_4{
	max-height : 96px;
}

.inputter_max_row_5{
	max-height : 120px;
}


.inputter_ico{
	width:30px;
	height:30px;
	font-size: 30px;
	cursor: pointer; 
	cursor: hand;
	color : #FBA026;
	display:inline-block;
}

.inputter_preview
{
	width:30px;
	height:30px;
	overflow: hidden;
	position:relative;

}

.inputter_preview_icon
{
	font-size: 30px;
	line-height: 30px;
}

.inputter_content{
	height:auto;
}


.inputter_left_menu_wrapper{
	position : absolute;
	top : 10px;
	left : 0;
	width : auto;
	height : auto;
	overflow: hidden;
}

.inputter_left_menu_wrapper ul{
	width : auto;
	height : auto;
	height: auto;
	overflow: hidden;
}

.inputter_left_menu_wrapper ul li{
	float : left;
	margin-right:10px;
	margin-bottom: 10px;
	height: auto;
	overflow: hidden;
}

.inputter_right_menu_wrapper{
	position : absolute;
	top : 10px;
	right : 0;
	width : auto;
	height : auto;
	overflow: hidden;
}

.inputter_right_menu_wrapper ul{
	width : auto;
	height : auto;
	overflow : hidden;
}

.inputter_right_menu_wrapper ul li{
	float : right;
	margin-right:10px;
	margin-bottom: 10px;
}

.inputter_right_menu_wrapper ul:active{
	background-color: whith;
}

.inputter_right_menu_wrapper ul:hover{
	background-color: whith;
}

.inputter_right_menu_wrapper ul li:active{
	background-color: whith;
}
.inputter_right_menu_wrapper ul li:hover{
	background-color: whith;
}

.padding-left-1{
	padding-left:40px;
}

.padding-left-2{
	padding-left:80px;
}

.padding-left-3{
	padding-left:120px;
}

.padding-left-4{
	padding-left:160px;
}

.padding-left-5{
	padding-left:200px;
}

.margin-right-1{
	margin-right:40px;
}


.margin-right-2{
	margin-right:80px;
}

.margin-right-3{
	margin-right:120px;
}

.margin-right-4{
	margin-right:160px;
}

.margin-right-5{
	margin-right:200px;
}

.margin-left-1{
	margin-left:40px;
}

.margin-left-2{
	margin-left:80px;
}

.margin-left-3{
	margin-left:120px;
}

.margin-left-4{
	margin-left:160px;
}

.margin-left-5{
	margin-left:200px;
}

.inputter_uploading_wrapper{
	height: 40px;
}

.inputter_uploading_wrapper ul{
	height: auto;
	text-align: left;
	width:auto;
	white-space:nowrap;
	overflow: hidden;
	display: inline-block;
}

.inputter_uploading_wrapper ul li
{
	height: 30px;
    text-align: center;
	display: inline-block;
    width:auto;
    max-width: 50px;
    margin: 5px 5px;
    vertical-align: text-top;
}

.inputter_uploading_wrapper ul li img
{
	height:30px;
	width:auto;
}

.inputter_uploading_wrapper ul li span
{
	font-size: 30px;
	line-height: 30px;
}

.files_queue_wrapper{
	height: 40px;
	width:100%;
}

.desktop_hide{
	display : none;
}

.inputter_element_uploading_item .shortcut_wrapper{
	max-width: 50px;
	height: 30px;
	overflow: hidden;
}

.inputter_element_uploading_item .shortcut_wrapper .shortcut_ico{
	height: 30px !important;
	display:inline-block;
}

.inputter_element_uploading_item .shortcut_remove_wrapper{
	position: relative;
	height: 30px;
}

.inputter_element_uploading_item .shortcut_remove{
	position: absolute;
	font-size: 14px;
	line-height: 14px;
	top:-35px;
	right:-6px;
	color: #53ADD2;
	z-index:9999;
	display: none;
	background-color: white;
	border-radius: 50%;
}

.inputter_element_uploading_item:hover .shortcut_remove{
	display:inline-block;
}

.inputter_element_uploading_item .shortcut_remove:hover{
	cursor: pointer;
}

    

@media only screen and (max-width: 1279px){
	.submenu_wrapper .inputter_line_10{
		border-top: none !important;
	}

	.submenu_wrapper .inputter_line_01{
		border-top:  1px solid #FBA026 !important;
	}

	.submenu_wrapper .inputter_left_menu_wrapper ul{
		float:left  !important;
	}

	.submenu_wrapper .inputter_right_menu_wrapper ul{
		float:right  !important;
	}

	.submenu_wrapper .mobile_hide{
		display : none !important;
	}

	.submenu_wrapper .desktop_hide{
		display : block !important;
	}


	.submenu_wrapper .mobile-margin-right-1{
		margin-right:40px !important;
	}


	.submenu_wrapper .mobile-margin-right-2{
		margin-right:80px !important;
	}

	.submenu_wrapper .mobile-margin-right-3{
		margin-right:120px !important;
	}

	.submenu_wrapper .mobile-margin-right-4{
		margin-right:160px !important;
	}

	.submenu_wrapper .mobile-margin-right-5{
		margin-right:200px !important;
	}


	.submenu_wrapper .mobile-margin-left-1{
		margin-left:40px !important;
	}

	.submenu_wrapper .mobile-margin-left-2{
		margin-left:80px !important;
	}

	.submenu_wrapper .mobile-margin-left-3{
		margin-left:120px !important;
	}

	.submenu_wrapper .mobile-margin-left-4{
		margin-left:160px !important;
	}

	.submenu_wrapper .mobile-margin-left-5{
		margin-left:200px !important;
	}

	.submenu_wrapper .inputter_mobile_min_row_1{
		min-height : 24px !important;
	}

	.submenu_wrapper .inputter_mobile_min_row_2{
		min-height : 48px !important;
	}

	.submenu_wrapper .inputter_mobile_min_row_3{
		min-height : 72px !important;
	}

	.submenu_wrapper .inputter_mobile_min_row_4{
		min-height : 96px !important;
	}

	.submenu_wrapper .inputter_mobile_min_row_5{
		min-height : 120px !important;
	}

	.submenu_wrapper .inputter_mobile_max_row_1{
		max-height : 24px !important;
	}

	.submenu_wrapper .inputter_mobile_max_row_2{
		max-height : 48px !important;
	}

	.submenu_wrapper .inputter_mobile_max_row_3{
		max-height : 72px !important;
	}

	.submenu_wrapper .inputter_mobile_max_row_4{
		max-height : 96px !important;
	}

	.submenu_wrapper .inputter_mobile_max_row_5{
		max-height : 120px !important;
	}

	.submenu_wrapper .inputter_mobile_backgroup_gray{
		background-color: #EFEFEF !important;
	}

	.submenu_wrapper .inputter_mobile_input_border_orange{
		border-radius: 3px !important;
		background-color: #fffdfd !important;
		border : 1px solid #FBA026 !important;
		border-color:#FBA026 !important;
	}

	.submenu_wrapper .inputter_uploading_wrapper{
		display: none !important;
	}
}

	#app_content_dynamic_sub.max-width-900  .inputter_line_10{
		border-top: none;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_line_01{
		border-top:  1px solid #FBA026;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_left_menu_wrapper ul{
		float:left;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_right_menu_wrapper ul{
		float:right;
	}

	#app_content_dynamic_sub.max-width-900  .mobile_hide{
		display : none;
	}

	#app_content_dynamic_sub.max-width-900  .desktop_hide{
		display : block;
	}



	#app_content_dynamic_sub.max-width-900 .mobile-margin-right-1{
		margin-right:40px !important;
	}


	#app_content_dynamic_sub.max-width-900  .mobile-margin-right-2{
		margin-right:80px !important;
	}

	#app_content_dynamic_sub.max-width-900  .mobile-margin-right-3{
		margin-right:120px !important;
	}

	#app_content_dynamic_sub.max-width-900  .mobile-margin-right-4{
		margin-right:160px !important;
	}

	#app_content_dynamic_sub.max-width-900  .mobile-margin-right-5{
		margin-right:200px !important;
	}


	#app_content_dynamic_sub.max-width-900  .mobile-margin-left-1{
		margin-left:40px !important;
	}

	#app_content_dynamic_sub.max-width-900  .mobile-margin-left-2{
		margin-left:80px !important;
	}

	#app_content_dynamic_sub.max-width-900  .mobile-margin-left-3{
		margin-left:120px !important;
	}

	#app_content_dynamic_sub.max-width-900  .mobile-margin-left-4{
		margin-left:160px !important;
	}

	#app_content_dynamic_sub.max-width-900  .mobile-margin-left-5{
		margin-left:200px !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_min_row_1{
		min-height : 24px !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_min_row_2{
		min-height : 48px !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_min_row_3{
		min-height : 72px !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_min_row_4{
		min-height : 96px !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_min_row_5{
		min-height : 120px !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_max_row_1{
		max-height : 24px !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_max_row_2{
		max-height : 48px !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_max_row_3{
		max-height : 72px !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_max_row_4{
		max-height : 96px !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_max_row_5{
		max-height : 120px !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_backgroup_gray{
		background-color: #EFEFEF !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_mobile_input_border_orange{
		border-radius: 3px;
		background-color: #fffdfd;
		border : 1px solid #FBA026 !important;
		border-color:#FBA026 !important;
	}

	#app_content_dynamic_sub.max-width-900  .inputter_uploading_wrapper{
		display: none;
	}

	/*#app_content_dynamic_sub[max-width~="900px"]  .inputter_line_10{
		border-top: none;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_line_01{
		border-top:  1px solid #FBA026;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_left_menu_wrapper ul{
		float:left;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_right_menu_wrapper ul{
		float:right;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .mobile_hide{
		display : none;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .desktop_hide{
		display : block;
	}



	#app_content_dynamic_sub[max-width~="900px"]  .mobile-margin-right-1{
		margin-right:40px !important;
	}


	#app_content_dynamic_sub[max-width~="900px"]  .mobile-margin-right-2{
		margin-right:80px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .mobile-margin-right-3{
		margin-right:120px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .mobile-margin-right-4{
		margin-right:160px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .mobile-margin-right-5{
		margin-right:200px !important;
	}


	#app_content_dynamic_sub[max-width~="900px"]  .mobile-margin-left-1{
		margin-left:40px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .mobile-margin-left-2{
		margin-left:80px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .mobile-margin-left-3{
		margin-left:120px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .mobile-margin-left-4{
		margin-left:160px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .mobile-margin-left-5{
		margin-left:200px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_min_row_1{
		min-height : 24px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_min_row_2{
		min-height : 48px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_min_row_3{
		min-height : 72px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_min_row_4{
		min-height : 96px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_min_row_5{
		min-height : 120px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_max_row_1{
		max-height : 24px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_max_row_2{
		max-height : 48px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_max_row_3{
		max-height : 72px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_max_row_4{
		max-height : 96px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_max_row_5{
		max-height : 120px !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_backgroup_gray{
		background-color: #EFEFEF !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_mobile_input_border_orange{
		border-radius: 3px;
		background-color: #fffdfd;
		border : 1px solid #FBA026 !important;
		border-color:#FBA026 !important;
	}

	#app_content_dynamic_sub[max-width~="900px"]  .inputter_uploading_wrapper{
		display: none;
	}*/
