.onboarding_noBorder {
	border: none !important;
}
.onboarding_overlay{
	position: absolute;
	z-index: 9999;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: black;
	opacity: 0.7;
}
.onboarding_overlay_content_top{
	bottom: initial;
	height: 48px;
}

.onboarding_welcome_bubble{
	background-color: rgba(255, 255, 255, 0.96);
	border: solid 2px #407606;
	z-index: 10000;
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:	translate(-50%, -50%);
	-moz-transform:		translate(-50%, -50%);
	-ms-transform:		translate(-50%, -50%);
	-o-transform:		translate(-50%, -50%);
	transform:			translate(-50%, -50%);
    /*background-color: #FFFFFF;
    color: black;
    padding: 10px;
    font-size: 50px;*/
}
/*maxMobileL*/
@media only screen and (max-width: 900px) {
	.onboarding_welcome_bubble{
		left: 5px !important;
		right: 5px !important;
		-webkit-transform:	translate(0, -50%);
		-moz-transform:		translate(0, -50%);
		-ms-transform:		translate(0, -50%);
		-o-transform:		translate(0, -50%);
		transform:			translate(0, -50%);
	}
}


.onboarding_forceAbsolute {
	position: absolute !important;
}

/*
	Trip.js
*/
#app_application_content>.trip-overlay{
	opacity: 0.7 !important;
}
.trip-block.onboarding_trip_welcome{
	visibility: hidden;
	min-width: initial;
	padding: 0px;
}
.trip-exposed#app_application_menu_icon {
	background-color: #FBA026;
}
.trip-exposed#app_content_top {
	background-color: #FBA026;
}
.trip-exposed#app_project_projects_new {
	background: none;
	position: absolute !important;
	opacity: 1;
}
.trip-exposed#app_project_chats_tab{
	background: none;
	background-color: #FBA026;
}

#app_content_top .trip-overlay {
	height: 48px !important;
	z-index: 999 !important;
}
#app_content_top .trip-exposed {
	background-color: #FBA026;
	z-index: 1000 !important;

}

.trip-exposed.app_content_menu_cell {
	display: block;
}

/*minTablet*/
@media only screen and (min-width: 900px) {
	.trip-block.onboarding_trip_exploreContentMenu {
		top: 54px !important;
	}
}
