.onboarding_overlay_master{
	position: absolute;
	z-index: 999999;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #FFFFFF;
	opacity: 0.3;
}
.onboarding_overlay_content_top{
	bottom: initial;
	height: 48px;
}
