/*
 *
 */

.submenu_wrapper {
	background-color: #FFFFFF;
	position: absolute;
	font-size: 14px;
	width: 320px;
	height: 100%;
	display: none;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.submenu_wrapper_important {
	position: absolute !important;
	width: 100% !important;
}

.submenu_top {
	display: table;
	table-layout: fixed;
	height: 48px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: #313335;
	background-image: url('/lincko/app/images/generic/submenu/top.png');
	background-repeat: repeat-x;
	position: absolute;
	overflow: hidden;
}

.submenu_bottom {
	display: table;
	table-layout: fixed;
	height: 48px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: #313335;
	background-image: url('/lincko/app/images/generic/submenu/top.png');
	background-repeat: repeat-x;
	position: absolute;
	overflow: hidden;
	bottom: 0;
}

.submenu_content {
	width: 100%;
	top: 48px;
	bottom: 0px;
	position: absolute;
	overflow: hidden;
	overflow-y: auto !important;
}

.submenu_back {
	display: table-cell;
	padding: 0 0 0 16px;
	color: #F8F8F8;
	white-space: nowrap;
	height: 100%;
	cursor: pointer; cursor: hand;
	vertical-align: middle;
	text-align: center;
}

.submenu_back:hover {
	background-color: #181A15;
	background-image: none;
}

.submenu_back:active {
	color: #6F7377;
	background-image: url('/lincko/app/images/generic/submenu/active.png');
	box-shadow: inset 4px 4px 13px -5px #313335;
	-moz-box-shadow: inset 4px 4px 13px -5px #313335;
	-webkit-box-shadow: inset 4px 4px 13px -5px #313335;
}

.submenu_close {
	display: table-cell;
	padding: 0 0 0 16px;
	color: #6F7377;
	white-space: nowrap;
	height: 100%;
	cursor: pointer; cursor: hand;
	vertical-align: middle;
	text-align: center;
}

.submenu_title {
	display: table-cell;
	padding: 0 16px 0 16px;
	color: #F8F8F8;
	white-space: nowrap;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.submenu_top_side {
	display: table-cell;
	padding: 0;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	width: 62px;
}

.submenu_bottom_cell {
	display: table-cell;
	padding: 0 16px 0 16px;
	color: #F8F8F8;
	white-space: nowrap;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.submenu_form_valid {
	position: relative;
	padding: 6px 30px;
	border-radius: 5px;
	border: 2px solid #F8F8F8;
	font-size: 16px;
	cursor: pointer; cursor: hand;
	margin-right: 10px;
	margin-left: 10px;
	color: #F8F8F8;
	background-color: transparent;
}

.submenu_form_valid:hover {
	background-color: #181A15;
}

.submenu_form_valid:active {
	background-color: #969696;
}

.submenu_deco {
	display: table;
	white-space: nowrap;
	color: #6F7377;
	background-color: #FAFBFC;
	border-bottom: solid 1px #EBEFF3;
	cursor: pointer; cursor: hand;
	overflow: hidden;
	text-align: left;
}

.submenu_deco_info {
	cursor: default !important;
}

.submenu_deco:hover {
	background-color: #FFFFFF;
}

.submenu_deco_fix {
	background-color: #FFFFFF !important;
}

.submenu_deco_next {
	background-color: #FFFFF0 !important;
}

.submenu_padding {
	display: table-cell;
	vertical-align: middle;
	padding: 0 16px 0 16px;
}

.submenu_value {
	font-style: italic;
	text-align: right !important;
}

.submenu_radio {
	text-align: right !important;
}

.submenu_icon {
	height: 20px;
	padding-left: 6px;
	vertical-align: middle;
}

.submenu_icon_next {
	filter:alpha(opacity=30);
	opacity:0.3;
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
}

.submenu_back_image {
	border-right: #343434 2px solid;
	padding-right: 14px;
	float: right;
}

.submenu_back_image_on {
	display: none;
}

.submenu_back_image_off {
	display: block;
}

.submenu_back:hover .submenu_back_image {
	border-color: transparent;
}

.submenu_back:active .submenu_back_image {
	border-color: transparent;
	filter:alpha(opacity=40);
	opacity:0.4;
	-moz-opacity:0.4;
	-khtml-opacity:0.4;
}
.submenu_back:active .submenu_back_image_on {
	display: block;
}
.submenu_back:active .submenu_back_image_off {
	display: none;
}

.submenu_close_image {
	padding-right: 14px;
	float: right;
	filter:alpha(opacity=30);
	opacity:0.3;
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
}

.submenu_close:hover .submenu_close_image {
	filter:alpha(opacity=40);
	opacity:0.4;
	-moz-opacity:0.4;
	-khtml-opacity:0.4;
}

.submenu_close:active .submenu_close_image {
	filter:alpha(opacity=60);
	opacity:0.6;
	-moz-opacity:0.6;
	-khtml-opacity:0.6;
}


/* Start app_upload */

.submenu_app_upload_single {
	display: block;
	width: 100%;
}

.submenu_app_upload_single_row {
	display: table;
	table-layout: fixed;
	width: 100%;
	color: #6F7377;
}

.submenu_app_upload_progress {
	display: table-cell;
	padding: 16px 16px 4px 16px;
	white-space: nowrap;
	vertical-align: middle;
	text-align: left;
	width: 100%;
}

.submenu_app_upload_progress_full {
	position: relative; /* This is important to be able to use % width inside without interfering with padding value */
	border: 1px solid #CAE4C7;
	width: 100%;
	text-align: left;
	overflow: hidden;
}

.submenu_app_upload_progress_full_abort {
	-webkit-box-shadow: 0px 0px 4px 1px rgba(251, 149, 31, 0.6);
	-moz-box-shadow: 0px 0px 4px 1px rgba(251, 149, 31, 0.6);
	box-shadow: 0px 0px 4px 1px rgba(251, 149, 31, 0.6);
	color: #FBA023 !important;
}

.submenu_app_upload_progress_full_failed {
	-webkit-box-shadow: 0px 0px 4px 1px rgba(229, 32, 32, 0.6);
	-moz-box-shadow: 0px 0px 4px 1px rgba(229, 32, 32, 0.6);
	box-shadow: 0px 0px 4px 1px rgba(229, 32, 32, 0.6);
	color: #E52020 !important;
}

.submenu_app_upload_progress_pc {
	background-color: #ACF9A4;
	min-height: 16px;
	width: 0%;
}

.submenu_app_upload_progress_pc_text {
	position: absolute;
	width: 100%;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	filter:alpha(opacity=70);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity:0.7;
}



.submenu_app_upload_single_cancel {
	display: table-cell;
	padding: 16px 16px 4px 0;
	white-space: nowrap;
	vertical-align: middle;
	text-align: left;
	width: auto;
}

.submenu_app_upload_single_cancel_image {
	float: right;
	padding: 0;
	height: 18px;
	margin-top: -1px;
	filter:alpha(opacity=30);
	opacity:0.3;
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
	cursor: pointer; cursor: hand;
}

.submenu_app_upload_single_cancel_image:hover {
	filter:alpha(opacity=40);
	opacity:0.4;
	-moz-opacity:0.4;
	-khtml-opacity:0.4;
}

.submenu_app_upload_single_cancel_image:active {
	filter:alpha(opacity=60);
	opacity:0.6;
	-moz-opacity:0.6;
	-khtml-opacity:0.6;
}

.submenu_app_upload_preview {
	display: table-cell;
	padding: 0 0 0 8px;
	white-space: nowrap;
	vertical-align: top;
	text-align: right;
	width: auto;
	float: right;
}

.submenu_app_upload_sub_preview_canvas {
	width: 100%;
	zoom: 250%; /* 120px * 2.5 = 300px */
	text-align: center !important;
	padding: 8px 0 0 0 !important;
}

.submenu_app_upload_sub_preview_player {
	width: 100%;
	zoom: 180%; /* 160px * 1.8 = 304px */
	text-align: center !important;
	padding: 8px 0 0 0 !important;
}

.submenu_app_upload_preview canvas {
	border: 1px solid #EBEFF3;
	max-width: 120px;
	max-height: 60px;
}

/*
To customize the audio/video player, need to play with the classes ".mejs-*", but my tests didn't work, I haven't check why
http://brianshim.com/webtricks/style-the-wordpress-3-6-media-player/
*/

.submenu_app_upload_preview video {
	border: 1px solid #EBEFF3;
	max-width: 160px;
	max-height: 160px;
}

.submenu_app_upload_preview audio {
	border: none;
	max-width: 160px;
	max-height: 320px;
}

.submenu_app_upload_info {
	display: table-cell;
	padding: 4px 24px 16px 24px;
	white-space: normal;
	vertical-align: top;
	text-align: left;
	width: 100%;
}

.submenu_app_upload_info_speed {
	display: table;
}

.submenu_app_upload_info_speed > span {
	display: table-cell;
	white-space: nowrap;
}

.submenu_app_upload_info_destination {
	font-size: 12px;
	filter:alpha(opacity=70);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity:0.7;
}

/* End app_upload */

.submenu_title_small {
	color: #D7D4D1;
	font-size: 12px;
	text-align: left;
	width: 100%;
	padding-bottom: 2px;
}

.submenu_title_small > span {
	padding-left: 6px;
}

.submenu_title_small_top {
	border-top: 1px solid #EFEFEF;
}


.submenu_input_text, .submenu_input_textarea {
	display: block;
	font-size: 16px;
	color: #3A3D41;
	margin-bottom: 20px;
	text-align: left;
}

.submenu_input_text > div, .submenu_input_textarea > div {
	color: #BABDC0;
	margin-left: 5%;
	padding: 6px 10px 4px 2%;
}

.submenu_input_text > input {
	width: 80%;
	padding: 6px 10px 6px 9px;
	font-size: 16px;
	background: linear-gradient(#FFFFFF,#F2F2F2);
	border-radius: 4px;
	border-width: 1px;
	margin-left: 5%;
	cursor: text;
}

.submenu_input_textarea > textarea {
	width: 80%;
	padding: 6px 10px 6px 9px;
	font-size: 16px;
	background: linear-gradient(#FFFFFF,#F2F2F2);
	border-radius: 4px;
	border-width: 1px;
	margin-left: 5%;
	cursor: text;
}

.submenu_deco {
	display: table;
	white-space: nowrap;
	color: #6F7377;
	background-color: #FAFBFC;
	border-bottom: solid 1px #EBEFF3;
	cursor: pointer; cursor: hand;
	overflow: hidden;
	text-align: left;
}

.submenu_select {
	display: table;
	white-space: nowrap;
	cursor: pointer; cursor: hand;
	overflow: hidden;
	text-align: left;
	color: #BABDC0;
	font-size: 16px;
}

.submenu_select_title {
	padding-left: 7%;
}

.submenu_select_value {
	color: #6F7377;
}

.submenu_select:hover {
	background-color: #FAFBFC;
}


/* Start app_project */

/* End app_project */

/* Minimum Desktop */
@media only screen and (min-width: 1280px) {
	.submenu_wrapper {
		border: 1px solid #DFDFDF;
		width: 320px;
		position: relative;
		float: left;
	}
	.submenu_top {
		background-color: #DFDFDF;
		background-image: url('/lincko/app/images/generic/submenu/active.png');
	}
	.submenu_title {
		color: #6F7377;
		font-size: 15px;
	}
	.submenu_top_side {
		width: 46px;
	}
	.submenu_bottom {
		background-color: #BCBCBC;
		background-image: none;
	}
	.submenu_form_valid:hover {
		background-color: #A9A9AA;
	}
	.submenu_form_valid:active {
		background-color: #969696;
	}
	.submenu_app_upload_progress_full {
		border-color: #CAE4C7;
	}
	.submenu_app_upload_progress_pc {
		background-color: #CAE4C7;
	}
}

@media only screen and (min-width: 480px) and (max-width: 1279px) {
	.submenu_app_upload_progress_pc {
		min-height: 22px;
	}
	.submenu_app_upload_progress_pc_text {
		font-size: 12px;
		line-height: 22px;
	}
	.submenu_app_upload_single_cancel_image {
		height: 24px;
	}
}

/* Maximum Tablet Landscape */
@media only screen and (max-width: 1279px) {
	.submenu_wrapper {
		width: 100% !important; 
	}
}
