<div id="begin_feedback" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/submenu/feedback.js') }}");
	</script>
</div>
<div id="end_feedback" class="visibility_hidden"></div>
<div class="display_none">
	<div id="-submenu_feedback_content_info" class="submenu_feedback_content_info">
		We'd love to hear your feedback. Please send us your thoughts and we'll try to do what we can to meet your needs. You can attach images and text for each item.
	</div>
	<div id="-submenu_feedback_content_wrapper" class="submenu_feedback_content_wrapper">
		<div find="container" class="submenu_feedback_content_wrapper_container">
			<ul find="script_list" class="submenu_feedback_content_script_list">
			</ul>
		</div>
	</div>
	<li id="-submenu_feedback_item" class="submenu_feedback_item">
		<div find="profile" class="submenu_feedback_item_profile">
			<span find="profile_ico" class="submenu_feedback_item_profile_ico">
				
			</span>
			<span find="profile_name" class="submenu_feedback_item_profile_name">

			</span>
		</div>
		<div find="content_wrapper" class="submenu_feedback_item_wrapper">
			<div class="submenu_feedback_item_content_wrapper">
				<span find="content" class="submenu_feedback_item_content"></span>
			</div>
			<div class="submenu_feedback_item_keyword_wrapper">
				<span find="keyword" class="submenu_feedback_keyword">
				</span>
			</div>
			
		</div>
	<li>
	<li id="-submenu_feedback_uploading_file" class="submenu_feedback_uploading_file">
		<div find="profile" class="submenu_feedback_item_profile">
			<span find="profile_ico" class="submenu_feedback_item_profile_ico">
				
			</span>
			<span find="profile_name" class="submenu_feedback_item_profile_name">

			</span>
		</div>

		<div find="content_wrapper" class="submenu_feedback_item_wrapper">
			<div class="submenu_feedback_item_content_wrapper">
				<span find="shortcut" class="submenu_feedback_shortcut_uploading submenu_feedback_shortcut_uploading_ico">
					<i class="fa"></i>
				</span>
				<span find="shortcut" class="submenu_feedback_shortcut_uploading submenu_feedback_shortcut_uploading_pic"></span>
				<div class="submenu_feedback_shortcut_target_wrapper">
					<span find="target"></span>
					<div class="progress_bar_wrapper">
						<div find="progress_bar" class="progress_bar">
						</div>
					</div>
					<p find="progress_text"></p>
				</div>
			</div>
		</div>
	</li>

	<li id="-submenu_feedback_options" class="submenu_feedback_options">
		<div class="submenu_feedback_options_content_wrapper">
			<div find="options_content" class="submenu_feedback_options_content">
				
			</div>
		</div>
	<li>

	<div id="-submenu_feedback_options_item" class="submenu_feedback_options_item">
		<span find="option_content" class="submenu_feedback_option_content"></span>
	</div>

	<div id = "-submenu_feedback_hide_helper" class="submenu_feedback_hide_helper">
	</div>
</div>
