<div id="-submenu_app_chat_bottom" class="chat_bottom">
	<div class="v_pos">
		<div class="icons">
			<span class="emoji fa fa-2x fa-smile-o"></span>
			<span class="attachment fa fa-2x fa-plus-circle "></span>
			<span class="send fa fa-2x fa-send-o"></span>
		</div>

		<span class="input"><input contenteditable class="comments_input no_focus" /></span>
	</div>


</div>
