<div id="-submenu_app_chat_bottom" class="chat_bottom">
	<div class="submenu_app_chat_v_pos">
		<div class="icons">
			<span class="emoji fa fa-2x fa-smile-o"></span>
			<span class="attachment icon-Add"></span>
			<span class="send fa fa-send-o"></span>
		</div>
		<span class="input"><div find="chat_textarea" contenteditable class="textarea comments_input no_focus"></div></span>
	</div>
</div>
