<div id="-submenu_projects" class="base_optionTab submenu_deco submenu_projects">
	<span class="submenu_padding ellipsis submenu_projects_title" find="submenu_projects_title"></span>
	<span class="submenu_projects_right">
		<span class="submenu_padding submenu_projects_chart ellipsis"  find="tasks_statistics_container">
			<canvas find="tasks_statistics" width="200" height="34" ></canvas>
		</span>
		<span class="submenu_padding submenu_projects_statistics ellipsis" find="submenu_projects_statistics">
			<span find="submenu_projects_statistics_tasks">0</span>
			<span class="icon-Tasks"></span>&nbsp;
			<span find="submenu_projects_statistics_notes">0</span>
			<span class="icon-New-Notes"></span>&nbsp;
			<span find="submenu_projects_statistics_files">0</span>
			<span class="icon-Cloud-Files"></span>
		</span>
		<span class="submenu_padding submenu_projects_settings">
			<span class="icon-Settings" find="submenu_projects_settings"></span>
			{#<img src="" class=""  find="submenu_projects_setting" />#}
		</span>
	</span>
</div>
