.submenu_calendar .hasDatepicker{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #FFFFFF;
}
.submenu_calendar .burger_calendar {
	top: 0px;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: 0px;
}


.submenu_calendar .burger_calendar_prepend {
	margin: 0 auto;
	max-width: 400px;
	position: relative;
}
.submenu_calendar .burger_calendar_prepend table{
	padding: 0px 20px;
}
.submenu_calendar .burger_calendar .ui-widget-header{
	margin-top: 20px;
	margin-bottom: 10px;
}

.submenu_calendar .burger_calendar .ui-datepicker-calendar {
	width: 80%;
	height: 47%;
	display: table;
	margin: 0 auto;
}

.submenu_calendar .burger_calendar .ui-datepicker-calendar td span, 
.submenu_calendar .burger_calendar .ui-datepicker-calendar td a {
	height: 27px;
	width: 27px;
	display: inline-block;
}
