.submenu_content_chat .skylist_newcardCircle{
	color: #679E52;
}

.submenu_app_chat_table {
	width: 100%;
	display: table;
	border-collapse: separate;
	padding: 0;
}
.submenu_app_chat_table > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.submenu_app_chat_chatmenu_icon {
	text-align: center;
	vertical-align: middle;
	cursor: pointer; cursor: hand;
	width: 36px;
	margin: auto;
	-webkit-filter: brightness(0.6);
	-moz-filter: brightness(0.6);
	-o-filter: brightness(0.6);
	-ms-filter: brightness(0.6);
	filter: alpha(opacity=40) brightness(0.6);
	opacity:0.40;
	-moz-opacity:0.40;
	-khtml-opacity:0.40;
	padding-top: 6px;
	padding-bottom: 6px;
}

.submenu_app_chat_chatmenu_icon:hover {
	filter:alpha(opacity=70);
	opacity:0.70;
	-moz-opacity:0.70;
	-khtml-opacity:0.70;
}

.submenu_app_chat_chatmenu_icon:active {
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	filter: none !important;
	opacity:1.00 !important;
	-moz-opacity:1.00 !important;
	-khtml-opacity:1.00 !important;
}

.submenu_app_chat_chatmenu_icon_active, .submenu_app_chat_chatmenu_icon_active:hover, .submenu_app_chat_chatmenu_icon_active:active {
	cursor: default !important;
	-webkit-filter: none !important;
	-moz-filter: none !important;
	-o-filter: none !important;
	-ms-filter: none !important;
	filter:alpha(opacity=80) grayscale(0) !important;
	opacity:0.80 !important;
	-moz-opacity:0.80 !important;
	-khtml-opacity:0.80 !important;
}


.submenu_app_chat_chatmenu_icon > img {
	width: 24px;
	display: block;
}

.submenu_app_chat_title_right_button {
	font-size: 32px !important;
}

.submenu_app_chat_top {
	background-image: none;
}

.submenu_app_chat_top .submenu_title, .submenu_app_chat_top .submenu_top_side_left, .submenu_app_chat_top .submenu_top_side_left {
	color: #FFFFFF !important;
}

.submenu_padding.submenu_app_chat_profile {
	width: 58px;
	padding-right: 4px;
}

.submenu_app_chat_profile_picture {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #FFFFFF;
	height: 48px;
	width: 48px;
	border-radius: 100%;
	border: 2px solid #FBA026;
	box-sizing: border-box;
	margin: 5px;
	vertical-align: middle;
}

.submenu_padding.submenu_app_chat_who {
	text-align: left;
	width: 100%;
	font-size: 16px;
	padding-left: 4px;
}

.submenu_padding.submenu_app_chat_invitation {
	position: absolute;
	right: 0;
	padding: 10px 0 0 0;
}

.submenu_app_chat_invitation_accept {
	display: inline-block;
	background-color: #679E52;
	padding: 4px 12px;
	color: #FFFFFF;
	margin: 5px;
	font-size: 12px;
	border: 2px solid transparent;
	border-radius: 3px;
	box-sizing: border-box;
}
.submenu_app_chat_invitation_accept:hover {
	border-color: #7DB169;
}
.submenu_app_chat_invitation_accept:active {
	background-color: #7DB169;
	border-color: #7DB169;
}

.submenu_app_chat_invitation_reject {
	display: inline-block;
	background-color: #BE2B1E;
	padding: 4px 12px;
	color: #FFFFFF;
	margin: 5px;
	font-size: 12px;
	border: 2px solid transparent;
	border-radius: 3px;
	box-sizing: border-box;
}
.submenu_app_chat_invitation_reject:hover {
	border-color: #E14A3E;
}
.submenu_app_chat_invitation_reject:active {
	background-color: #E14A3E;
	border-color: #E14A3E;
}

.submenu_app_chat_invitation_invite, .submenu_app_chat_invitation_resend {
	display: inline-block;
	background-color: #F99F25;
	padding: 4px 20px;
	color: #FFFFFF;
	margin: 5px;
	font-size: 12px;
	border: 2px solid transparent;
	border-radius: 3px;
	box-sizing: border-box;
}
.submenu_app_chat_invitation_invite:hover, .submenu_app_chat_invitation_resend:hover {
	border-color: #FBC479;
}
.submenu_app_chat_invitation_invite:active, .submenu_app_chat_invitation_resend:active {
	background-color: #FBC479;
	border-color: #FBC479;
}

.submenu_deco_read.submenu_app_chat_deco {
	display: table;
	white-space: nowrap;
	border-width: 0;
	overflow: hidden;
	text-align: left;
}
.submenu_deco_read.submenu_app_chat_deco:last-child {
	
}

.submenu_deco.submenu_app_chat_deco {
	display: table;
	white-space: nowrap;
	background-color: #FFFFFF;
	border-width: 0;
	cursor: pointer; cursor: hand;
	overflow: hidden;
	text-align: left;
}
.submenu_deco:hover {
	background-color: #FAFBFC;
}

.submenu_app_chat_new_contact {
	width: 100%;
	border-style: none;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.submenu_app_chat_new_contact_title {
	font-size: 14px;
}

.submenu_app_chat_search_text_help {
	position: absolute;
	background-color: #FFFFFF;
	box-sizing: border-box;
	padding: 2px 4px 2px 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 80%;
	outline: 0;
	color: #FBA026;
	font-size: 14px;
	font-weight: 200;
	cursor: text;

	height: 30px;
    line-height: 26px;
	z-index: 1;
}

.submenu_app_chat_search_text_help_span{
	display: block;
	position: relative;
    top: 50%; 
    /*!important added to prevent velocity.js from overriding*/
    -moz-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

.submenu_app_chat_search {
	box-sizing: border-box;
	height: 30px;
	padding: 2px 4px 2px 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 80%;
	border: none;
	outline: 0;
	font-size: 16px;
	font-weight: 200;
	cursor: text;
	text-align: left;
	position: relative;
	z-index: 2;
	background-color: transparent;
}

.submenu_app_chat_search_img {
	margin-left: 5%;
	height: 20px;
	padding: 4px;
	padding-left: 6px;
	cursor: text;
}

.submenu_app_chat_add_user {
	width: 100%;
	background-color: #EFEFEF;
	text-align: center;
	padding: 16px 0px;
	position: relative;
}
.submenu_app_chat_add_user>label{
	background-color: #FFFFFF;
	padding: 5px 0px;
	margin-left: 50px;
}
.submenu_app_chat_add_user [find=icon_envelope]{
	font-size: 36px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    line-height: 70px;
    display: inline;
    left: 3%;
    color: #000000;
}

.submenu_wrapper_bottom_wxNotice{
	position: absolute;
    top: 48px;
    width: 100%;
}
.submenu_app_chat_wxNotice{
    height: 55px;
    background-color: #54add2;
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
}
.submenu_app_chat_wxNotice [find=text]{
	margin-left: 55px;
    margin-right: 55px;
    display: block;
    max-height: 100%;
    /*vertical centering*/
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.submenu_app_chat_wxNotice [find=icon]{
    height: 52px;
    line-height: 52px;
    font-size: 32px;
    width: 52px;
    text-align: center;
    position: absolute;
    top: 0px;
}
.submenu_app_chat_wxNotice [find=icon].fa-wechat{
	left: 0px;
}
.submenu_app_chat_wxNotice [find=icon].fa-hand-o-up{
	right: 0px;
}

.submenu_app_chat_add_user_options_wxMargin{
	margin-top: 55px;
}
.submenu_app_chat_add_user_options [find=options_wrapper]{
	display:-moz-box;
    display:-webkit-box;
    display:box;
    -moz-box-orient:horizontal;
    -webkit-box-orient:horizontal;
    box-orient:horizontal;
    width:100%;
    text-align: center;
    height: 120px;
    line-height: 120px;
    color: #000000;
}

.submenu_app_chat_add_user_options [find=options_wrapper] > div{ 
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
}
.submenu_app_chat_add_user_options [find=options_wrapper] > div:hover{
	background-color: #FAFBFC;
}
.submenu_app_chat_add_user_options [find=options_wrapper] > div > span{ 
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
    min-width: 106px;
    white-space: nowrap;
}
.submenu_app_chat_add_user_options [find=options_wrapper] [find=icon]{
	font-size: 40px;
	line-height: 40px;
	padding-bottom: 14px;
}
.submenu_app_chat_add_user_options [find=options_wrapper] [find=icon].fa-link{
	font-size: 34px;
}

.submenu_app_chat_add_user_options [find=popup_QRcode_wrapper] {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    right: 0px;
    z-index: 5;
}
.submenu_app_chat_add_user_options [find=popup_QRcode_wrapper] img{
	width: 70%;
    max-width: 300px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 46%;
    left: 50%;
}

.submenu_app_chat_add_user>label{

}

.submenu_app_chat_user_view {
	margin-top: 10px;
	background-color: #B6D6E8 !important;
	cursor: default !important;
}

.submenu_deco_read.submenu_app_chat_invitation_deco {
	background-color: transparent !important;
}

.submenu_padding.submenu_app_chat_invitation_sentence {
	white-space: normal;
	padding-top: 10px;
	font-size: 12px;
}

.submenu_app_chat_invitation_button {
	text-align: center;
	padding: 20px;
}

.submenu_deco_read.submenu_app_chat_user_searching {
	width: 100%;
	text-align: center;
	height: 48px;
	background-color: transparent;
	border: none;
	padding-top: 12px;
}

.submenu_deco_read.submenu_app_chat_user_scanner {
	position: relative;
	width: 100%;
	height: 320px;
	text-align: center;
	background-color: transparent;
	border: none;
	padding-top: 32px;
	padding-bottom: 32px;
}

.submenu_app_chat_user_scanner > div {
	text-align: center;
	position: relative;
	border: none;
	width: 94%;
	margin: auto;
	height: 320px;
}

.submenu_app_chat_user_searching > img {
	position: relative;
	display: inline;
	width: 25%;
	height: 4px;
	background-color: #B6D6E8;
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.submenu_app_chat_block {
	display: block !important;
}
