.submenu_contact_item {
	padding-left: 10px;
	list-style-type: none;
	margin-bottom: 10px; 
	margin-top: 10px;
	color: #3270A0;
	position: relative;
}

.submenu_contact_item .username {
	border-bottom: 1.5px solid #FBA026;
	font-size: 18px;
	line-height: 2;
	padding-bottom: 10px;
	position: absolute;
	right: 20px;
	left: 100px;
}

.submenu_contact_item .check {
	width: 20px;
	height: 20px;
	border: 1.5px solid #FBA026;
	border-radius: 20px;
	outline: none;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font: normal normal lighter 14px/1.5 FontAwesome;
	margin-right: 5px;
	margin-left: 10px;
}
	
.submenu_contact_item .check.checked {
	background-color: #3270A0;
}
	
.submenu_contact_item .check.checked:before {
	color: #FFFFFF;
	content: "\f00c";
}

.submenu_contact_item:hover > .check:not(.admin) {
	-webkit-box-shadow: 0px 0px 4px 2px rgba(251,160,38,0.6);
	-moz-box-shadow: 0px 0px 4px 2px rgba(251,160,38,0.6);
	box-shadow: 0px 0px 4px 2px rgba(251,160,38,0.6);
}

.submenu_contact_item > .check.admin {
	background-color: #679E52 !important;
}

.submenu_contact_item_icon {
	font-size: 35px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 48px;
	height: 48px;
	border-radius: 100px;
	border: 2px solid #FBA026;
	vertical-align: middle;
	text-align: center;
	color: #FBA026;
	line-height: 48px;
}
	
.submenu_contact_item .username {
	display: inline-block;
	padding-left: 10px; 
}

.submenu_contact_title {
	color: #3A3D41 !important;
	font-size: 18px !important;
	text-align: center !important;
	margin: 0 !important;
	padding: 10px !important;
}

.submenu_contact_deletion {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center !important;
	cursor: default !important;
	background-color: transparent !important;
	border-style: none !important;
}

.submenu_contact_deletion_button {
	display: inline-block !important;
	padding: 6px 32px !important;
	color: #FFFFFF !important;
	background-color: #BE2B1F !important;
	border: solid 2px transparent;
	border-radius: 4px;
	cursor: pointer; cursor: hand;
	box-sizing: border-box;
}

.submenu_contact_deletion_button:hover {
	border-color: rgba(255, 255, 255, 0.3) !important;
}

.submenu_contact_tab {
	font-size: 16px;
	border-top: solid 1px #EBEFF3;
}
.submenu_contact_tab > span{
	padding-left: 7%;
}

.submenu_contacts_hasAddTeammates .submenu_content>.iscroll_sub_div{
	padding-bottom: 50px;
}

.submenu_contacts_hasAddTeammates .submenu_content>.iScrollVerticalScrollbar .iScrollIndicator{
	border: 0px;
    border-bottom: 50px solid #FFFFFF;
}

.submenu_contacts_addTeammates{
    position: absolute;
    bottom: 0px;
    border-top: 1px solid rgba(63,132,176,.5);
    right: 0px;
    left: 0px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px 0px;
    font-size: 18px;
    background-color: #FFFFFF;
}
.submenu_contacts_addTeammates [find=icon]{
	margin-left: 30px;
    margin-right: 18px;
    font-size: 40px;
    vertical-align: middle;
    color: #3F84B0;
}
