textarea:focus, input:focus{
	outline: 0;
}


.submenu_newchat_header {
	background-color: #679E52;
	background-image: none;
}

.submenu_newchat_header .submenu_deco {
	background-color: #679E52;
	color: #525252;
	border-bottom: none;
}

.submenu_newchat_header_close {
	color: #525252;
}

.submenu_newchat_header .submenu_title {
	color: #f8f8f8;
}

.submenu_newchat_header .icon-SmallPersonaiconBlack {
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
}

.submenu_newchat_header .icon-SmallPersonaiconBlack [find='submenu_button_title'] {
	display: none;
}
.submenu_wrapper .submenu_content_chat .skylist_logo  span {
	font-size: 35px;
	color: #FBA026;
}

.submenu_wrapper .submenu_content_chat .skylist_menu_people {
	display: none;
}
.submenu_wrapper .submenu_content_chat .skylist_card_bottom {
	display: none;
}
.submenu_wrapper .submenu_content_chat .skylist_menu_timesort {
	display: none;
}
.submenu_wrapper .submenu_content_chat .skylist_menu_navbar_filter_icon {
	display: none;
}
.submenu_wrapper .submenu_content_chat .skylist_menu_navbar_search {
	display: none;
}
.chat_contents_wrapper {
	padding-bottom: 12px;
}

.submenu_wrapper .submenu_content_chat .skylist {
	margin-left: 5px;
}
.submenu_wrapper .submenu_content_chat .skylist .iscroll_sub_div.scrollY {
	padding-bottom: 0px;
}

.submenu_chats_no_background_image {
	background-image: none !important;
	background-color: inherit;
}

.submenu_chats{
	z-index:9999999;
}

.submenu_chats .submenu_bottom{
	height: 93px;
	
}

@media only screen and (max-width: 1279px){
	.submenu_chats .submenu_bottom{
		height: 52px !important;
	}
}

