.submenu_personal_next_picture {
	text-align: center;
	width: 40%;
}

.submenu_personal_next_picture_image {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border: 2px solid #FBA026;
	margin: 10px;
	padding: 0;
}

.submenu_personal_next_picture_image:hover {
	box-shadow: 0px 0px 4px 2px rgba(251, 125, 35, 0.4);
}

.submenu_personal_next_user {
	font-size: 24px;
	line-height: 20px;
	vertical-align: middle;
}

.submenu_personal_next_deco {
	height: 97px;
}

.submenu_personal_profile_picture {
	text-align: center;
	width: 170px;
	height: 170px;
	padding: 4px 0 0 0;
	font-size: 0;
}

.submenu_personal_profile_picture_image {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border: 2px solid #FBA026;
	margin: 10px;
	padding: 0;
	font-size: 0;
}

.submenu_personal_profile_picture_image:hover {
	box-shadow: 0px 0px 4px 2px rgba(251, 125, 35, 0.4);
}

.submenu_personal_profile_picture_image.no_shadow {
	cursor: default !important;
}

.submenu_personal_profile_picture_image.no_shadow:hover {
	box-shadow: none !important;
}

.submenu_personal_profile_user {
	font-size: 24px;
	line-height: 20px;
	vertical-align: middle;
}

.submenu_personal_profile_deco {
	height: 97px;
}


.submenu_personal_input_span_left {
	width: 40%;
	text-align: left;
	white-space: normal;
}

.submenu_personal_input_span_right {
	text-align: left;
}

.submenu_personal_input_value {
	width: 100%;
	border-color: transparent;
	background-color: transparent;
	font-size: 14px;
}

.submenu_personal_input_value:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.submenu_personal_info_value {
	color: #ABABAB;
}

.submenu_personal_integration_icon {
	height: 20px;
	border-radius: 2px;
}

.personal_integration_wechat_qrcode {
	padding-top: 48px;
	padding-bottom: 48px;
}

.personal_integration_wechat_qrcode .submenu_personal_input_span_left {
	width: 50%;
}

.personal_integration_wechat_qrcode .submenu_personal_input_span_right {
	text-align: center;
}

.personal_integration_wechat_qrcode .submenu_personal_profile_picture {
	height: 200px;
	width: 200px;
}
