.submenu_taskdetail {
	height:100%;
	overflow-y: auto;
}
.submenu_taskdetail .fa {
	font-size: 20px;
}

.submenu_taskdetail > .submenu_taskdetail_tasktitle,
.submenu_taskdetail > .submenu_taskdetail_description,
.submenu_taskdetail > .submenu_taskdetail_meta,
.submenu_taskdetail > .submenu_taskdetail_comments {
	padding: 5px;
	border: 5px solid white;
	background: #C7E9FF;
}


.submenu_taskdetail_tasktitle {
	width: 100%;
}
.submenu_taskdetail_tasktitle table {
	width: 100%;
}
td.app_layers_dev_skytasks_checkbox {
	width:40px;
	position:relative;
}
.submenu_taskdetail_tasktitle [find=title_text] {
    max-height: 50px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    box-sizing: border-box;
    color:#3677A7;
    font-size: 20px;
}
.submenu_taskdetail_tasktitle .app_layers_dev_skytasks_checkbox_visual {
	margin: 4px;
}
.submenu_taskdetail_tasktitle .app_layers_dev_skytasks_checkbox label{
	top: 5px;
    left: 5px;
}

td.submenu_taskdetail_share {
	width:60px;
	text-align: center;
}
td.submenu_taskdetail_share .fa{
	font-size: 30px;
}
.submenu_taskdetail_tasktitle td{
	border: 1px solid red;
}
.submenu_taskdetail_description {
	border: 5px solid white;
	/*background: #C7E9FF;*/
	height: 20%;
	overflow: auto;
}
.submenu_taskdetail_description [find=description_text] {
	min-height: 60%;
}
.submenu_taskdetail_meta {
	/*background: #C7E9FF;*/
	width: 100%;
}
.submenu_taskdetail_meta_box {
    border: 1px solid green;
    text-align: center;
}
.submenu_taskdetail_meta_box div{
    width: 100px;
    margin: 0px auto;
}

.submenu_taskdetail_meta img {
	width: 25%;
    max-width: 100px;
}
.submenu_taskdetail_meta .fa {
	font-size: 50px;
}

.submenu_taskdetail_comments {
	/*background: #C7E9FF;*/
	padding-bottom: 40px !important;
}
.submenu_taskdetail_comments_header {
	height: 25px;
	border-bottom: 2px solid orange;
    margin: 10px;
    padding: 5px;

}
.submenu_taskdetail_comments_header img {
	height:100%;
}
.submenu_taskdetail_text {
	font-size: 20px;
	padding: 0px 10px;
}
.submenu_taskdetail_plusminus {
    float: right;
}
.submenu_taskdetail_commentbubble_profile {
	text-align: center;
    display: table;
    float: left;
    width: 37px;
    padding: 0px 10px;
}
.submenu_taskdetail_commentbubble_profile img {
    width: 100%;
    display: block;
    border: 1px solid orange;
    border-radius: 100%;
}
.submenu_taskdetail_commentbubble_text {
	width: 75%;
    display: table;
    vertical-align: middle;
    max-height: 100px;
    min-height: 60px;
    padding: 0px 10px;
    float:left;
}

.submenu_taskdetail_commentbubble_right .submenu_taskdetail_commentbubble_profile {
	float: right !important;
}
.submenu_taskdetail_commentbubble_right .submenu_taskdetail_commentbubble_text {
	float: right !important;
	text-align: right !important;
}
.submenu_taskdetail_commentbubble_setHeight {
	height: 60px;
	display: block;
}

.submeu_taskdetail_comments_action span {
	float: right;
	padding: 10px;
}

/*MobileL to mobile*/
@media only screen and (max-width: 900px) {
	.submenu_taskdetail_tasktitle .app_layers_dev_skytasks_checkbox label{
		top: 0px;
		left:0px;
		padding: 22px;
	}
}

/*mobile only*/
@media only screen and (max-width: 479px) {
	.submenu_taskdetail_meta .fa {
		font-size: 40px;
	}
}
