.submenu_taskdetail {
	height:100%;
	overflow-y: auto;
}
.submenu_taskdetail_paddingLeft {
	padding-left: 22px;
}

.submenu_taskdetail > .submenu_taskdetail_tasktitle,
.submenu_taskdetail > .submenu_taskdetail_description,
.submenu_taskdetail > .submenu_taskdetail_meta,
.submenu_taskdetail > .submenu_taskdetail_comments {
	/*background: #C7E9FF;*/
}

.submenu_taskdetail [contenteditable=true]{
	cursor: text;
}


.submenu_taskdetail_tasktitle {
	width: 100%;
	height: 60px;
}
.submenu_taskdetail_tasktitle td {
	height: 100%;
}
td.app_layers_dev_skytasks_checkbox {
	width:40px;
	position:relative;
}
.submenu_taskdetail_tasktitle .skylist_checkbox {
	margin:0px !important;
}
.submenu_taskdetail_tasktitle [find=title_text] {
    max-height: 50px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    box-sizing: border-box;
    color:#3677A7;
    font-size: 20px;
}
.submenu_taskdetail_tasktitle .app_layers_dev_skytasks_checkbox_visual {
	margin: 4px;
}
.submenu_taskdetail_tasktitle .app_layers_dev_skytasks_checkbox label{
	top: 5px;
    left: 5px;
}

td.submenu_taskdetail_share {
	width:60px;
	text-align: center;
}
td.submenu_taskdetail_share .fa{
	font-size: 30px;
}
.submenu_taskdetail_tasktitle td{
	/*border: 1px solid red;*/
}
.submenu_taskdetail_description {
	/*height: 20%;*/
	/*overflow: auto;*/
}
.submenu_taskdetail_description [find=description_text] {
	/*min-height: 60%;*/
}
.submenu_taskdetail_collapsable_button {
    border-bottom: 1px solid #FBA026;
    width: 100%;
    height: 34px;
    cursor: pointer;
    background: #F7FAFC;
	font-size: 14px;
	color: #3F84B0;
	text-transform: capitalize;
}
.submenu_taskdetail_collapsable_button [find=icon_arrow] {
    width: 20px;
    font-size: 25px;
}
.submenu_taskdetail_collapsable_content {

}

.submenu_taskdetail_meta {
	height: 30px;
	background: #F7FAFC;
}
.submenu_taskdetail_meta_icons{
	font-size: 20px;
	color: #53ADD2;
}
.submenu_taskdetail_meta_text {
	padding: 0px 5px;
}
.submenu_taskdetail_meta_box[find=calendar] {

}
.submenu_taskdetail_meta_box[find=user] {

}

/* old design with 3 blocks with huge icons
.submenu_taskdetail_meta {
	width: 100%;
}
.submenu_taskdetail_meta_box {
    text-align: center;
}
.submenu_taskdetail_meta_box div{
    width: 87px;
    margin: 0px auto;
}

.submenu_taskdetail_meta img {
	width: 25%;
    max-width: 100px;
}
.submenu_taskdetail_meta .fa {
	font-size: 40px;
}
*/

.submenu_taskdetail_comments {
	/*background: #C7E9FF;*/
	padding-bottom: 40px !important;
}
/*
.submenu_taskdetail_comments_header {
	height: 25px;
	border-bottom: 2px solid orange;
    margin: 10px;
    padding: 5px;
}
.submenu_taskdetail_comments_header img {
	height:100%;
}
*/
.submenu_taskdetail_comments [find=addNewComment_text] {
	display: block;

}
.submeu_taskdetail_blueButton {
    font-size: 12px;
    color: #54ADD2;
    background: #F7FAFC;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 10px;
    display: inline-block;
    cursor: pointer;
}
.submenu_taskdetail_comments_seePrev {
	text-align: center;
}
.submenu_taskdetail_text {
	font-size: 20px;
	padding: 0px 10px;
	color: #3677A7;
}
.submenu_taskdetail_plusminus {
    float: right;
    padding: 2px;
}

.submenu_taskdetail_commentbubble {
	width: 100%;
	padding: 5px 0px;
}
.submenu_taskdetail_commentbubble_profile {
    text-align: center;
    float: left;
    width: 58px;
}
.submenu_taskdetail_commentbubble_profile [find=profile_pic] {
	font-size: 40px;
}
.submenu_taskdetail_commentbubble_profile [find=name] {
	color: #3677A7;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
.submenu_taskdetail_commentbubble_text {
    width: 100%;
    vertical-align: middle;
    padding:0px 5px;
}

.submenu_taskdetail_commentbubble_right .submenu_taskdetail_commentbubble_profile {
	float: right !important;
}
.submenu_taskdetail_commentbubble_right .submenu_taskdetail_commentbubble_text {
	float: right !important;
	text-align: right !important;
}
.submenu_taskdetail_commentbubble_quickAction {
	font-size: 10px;
}
.submenu_taskdetail_commentbubble_quickAction span{
	padding-right: 0px 4px;
}
.submenu_taskdetail_commentbubble_quickAction [find=date]{
	color: #979797;
}

/*
styling for if the comment is from 'me'
*/
.submenu_taskdetail_commentbubble_me [find=text] {
	color: #54ADD2;
}

/*MobileL to mobile*/
@media only screen and (max-width: 900px) {
	.submenu_taskdetail_tasktitle .app_layers_dev_skytasks_checkbox label{
		top: 0px;
		left:0px;
		padding: 22px;
	}
}

/*mobile only*/
@media only screen and (max-width: 479px) {
	.submenu_taskdetail_meta .fa {
		font-size: 40px;
	}
}
