.submenu_wrapper_title.submenu_top {
	background-image: none;
}
.submenu_wrapper_title .submenu_title {
	text-transform: capitalize;
}
.submenu_wrapper_taskdetail_tasks .submenu_title,
.submenu_wrapper_taskdetail_files .submenu_title {
	color: #FFFFFF;
}
.submenu_wrapper_taskdetail_notes .submenu_title {
	color: #000000;
}
.submenu_wrapper_title .submenu_deco {
	background-color: inherit;
	color: #FFFFFF;
}
.submenu_wrapper_taskdetail_tasks.submenu_top, .submenu_wrapper_taskdetail_tasks [find=submenu_button_title] {
	background-color: #475577;
}
.submenu_wrapper_taskdetail_notes.submenu_top, .submenu_wrapper_taskdetail_notes [find=submenu_button_title] {
	background-color: #F0EB4E;
}
.submenu_wrapper_taskdetail_files.submenu_top, .submenu_wrapper_taskdetail_files [find=submenu_button_title] {
	background-color: #4E2A84;
}

.submenu_taskdetail {
	height:100%;
	overflow-y: auto;
	padding-bottom: 50px;
	font-weight: 200;
}
.submenu_taskdetail_paddingLeft {
	padding-left: 22px;
}

.submenu_taskdetail > .submenu_taskdetail_tasktitle,
.submenu_taskdetail > .submenu_taskdetail_description,
.submenu_taskdetail > .submenu_taskdetail_meta,
.submenu_taskdetail > .submenu_taskdetail_comments {
	/*background: #C7E9FF;*/
}

.submenu_taskdetail [contenteditable=true]{
	cursor: text;
}
.submenu_taskdetail :focus{
	outline: none;
}


.submenu_taskdetail_tasktitle {
	width: 100%;
	height: 60px;
}
.submenu_taskdetail_tasktitle td {
	height: 100%;
}
td.app_layers_dev_skytasks_checkbox {
	width:40px;
	position:relative;
}
.submenu_taskdetail_tasktitle .skylist_checkbox {
	margin: 0px;
	margin-right: 10px;
}
.submenu_taskdetail_tasktitle [find=title_text] {
	max-height: 50px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
	text-overflow: ellipsis;
	box-sizing: border-box;
	color:#475577;
	font-size: 20px;
	opacity: 0.7;
}
.submenu_taskdetail_tasktitle [find=title_text]:focus {
	opacity: 1;
}
.submenu_taskdetail_tasktitle .app_layers_dev_skytasks_checkbox_visual {
	margin: 4px;
}
.submenu_taskdetail_tasktitle .app_layers_dev_skytasks_checkbox label{
	top: 5px;
	left: 5px;
}

td.submenu_taskdetail_share {
	width:60px;
	text-align: center;
}
td.submenu_taskdetail_share .fa{
	font-size: 30px;
}
.submenu_taskdetail_tasktitle td{
	/*border: 1px solid red;*/
}
.submenu_taskdetail_description {
	/*height: 20%;*/
	/*overflow: auto;*/
}
.submenu_taskdetail_description [find=description_text] {
	/*min-height: 60%;*/
	padding-top: 40px;
	padding-bottom: 50px;
	margin: 0px;
	border: none;
}

/*------easyEditor------*/
.submenu_taskdetail_description .easyeditor-toolbar {
	padding-top: 0px;
	padding-bottom: 0px;
	background: #F7FAFC;
	position: absolute;
	right: 0px;
	left: 0px;
}
.submenu_taskdetail_description .easyeditor-toolbar ul {
	margin: 0px;
	padding: 0px;
}
.submenu_taskdetail_description .easyeditor-toolbar > ul > li > button {
	margin: 0px !important;
	background: none !important;
	border: none !important;
	font-size: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 18px;
}
.submenu_taskdetail_description .easyeditor-toolbar ul  ul {
	background: #FFFFFF;
	box-shadow: 0px 0px 4px 0px #3F84B0;
	border-radius: 3px;
}
.submenu_taskdetail_description .easyeditor-toolbar ul ul button {
	background: none;
	border: none;
	width: 150px;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	text-align: left; 
}
.submenu_taskdetail_description .easyeditor-toolbar ul ul button:hover {
	background: #DBEBF4;
	border: none !important;
	box-shadow: none !important;
	width: 150px;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	text-align: left;
}

.submenu_taskdetail_description button.toolbar-insert-image{
	opacity: 0.4;
	cursor: initial;
}
.submenu_taskdetail_description button.toolbar-insert-image:hover{
	box-shadow: none;
}



/*----END OF easyEditor--------------*/





.submenu_taskdetail_collapsable_button {
	border-bottom: 1px solid #FBA026;
	width: 100%;
	height: 34px;
	cursor: pointer;
	background: #F7FAFC;
	font-size: 14px;
	color: #3F84B0;
	text-transform: capitalize;
}
.submenu_taskdetail_collapsable_button [find=icon_arrow] {
	width: 20px;
	font-size: 25px;
}
.submenu_taskdetail_collapsable_content {

}

.submenu_taskdetail_meta {
	height: 30px;
	background: #F7FAFC;
	position: relative;
	box-shadow: 0px 1px 0px 0px #B5B5B5;
}
.submenu_taskdetail_meta_icons{
	font-size: 21px;
	color: #53ADD2;
	padding: 0px 3px;
	display: inline-block;
	vertical-align: bottom;
}
.submenu_taskdetail_meta_text {
	padding: 0px 5px;
	background-color: inherit;
	border: none;
	color: inherit;
}
.submenu_taskdetail_meta_text[find=duedate_text] {
	border: 0px;
	width: 45px;
	background-color: initial;
	color: inherit;
}
.submenu_taskdetail_meta_text[find=user_text] {
	width: 80px;
}
.submenu_taskdetail_meta_text[find=duedate_timestamp]{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0;
	width: 75px;
	z-index: -1;
}
.submenu_taskdetail_meta_text[find=user_text_hidden]{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100px;
	opacity: 0;
}
.submenu_taskdetail_meta_box {
	position: relative;
}
.submenu_taskdetail_meta_box[find=calendar] {

}
.submenu_taskdetail_meta_box[find=user] {

}
.submenu_taskdetail_meta_actions {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 6px;
	font-size: 18px;
	color: #53ADD2;
	cursor: pointer; cursor: hand;
}
.submenu_taskdetail_meta_actions [find=action_menu] {
	position: absolute;
	top: 0px;
	bottom: 0px;
	padding: 6px 0px;
	right: 25px;
	/*background-color: #BE2C1F;
	color: #FBA026;
	*/
	font-size: 18px;
	width: 0px;
	display:none;
	overflow: hidden;
	text-align: center;
}

/* old design with 3 blocks with huge icons
.submenu_taskdetail_meta {
	width: 100%;
}
.submenu_taskdetail_meta_box {
	text-align: center;
}
.submenu_taskdetail_meta_box div{
	width: 87px;
	margin: 0px auto;
}

.submenu_taskdetail_meta img {
	width: 25%;
	max-width: 100px;
}
.submenu_taskdetail_meta .fa {
	font-size: 40px;
}
*/

.submenu_taskdetail_comments {
	/*background: #C7E9FF;*/
	padding-bottom: 40px !important;
}
/*
.submenu_taskdetail_comments_header {
	height: 25px;
	border-bottom: 2px solid orange;
	margin: 10px;
	padding: 5px;
}
.submenu_taskdetail_comments_header img {
	height:100%;
}
*/
.submenu_taskdetail_comments [find=addNewComment_text] {
	display: block;
	width: 100%;

}
.submeu_taskdetail_blueButton {
	font-size: 12px;
	color: #54ADD2;
	background: #F7FAFC;
	border-radius: 5px;
	padding: 5px;
	margin: 10px 10px;
	display: inline-block;
	cursor: pointer;
}
.submenu_taskdetail_comments_seePrev {
	text-align: center;
	height: 46px;
}
.submenu_taskdetail_text {
	font-size: 20px;
	padding: 0px 10px;
	color: #3677A7;
}
.submenu_taskdetail_plusminus {
	float: right;
	padding: 2px;
}

.submenu_taskdetail_commentbubble {
	width: 100%;
	padding-top: 10px;
}
.submenu_taskdetail_commentbubble_bar{
	display: none;
	padding: 0px;
	padding-left: 1px;
}
.submenu_taskdetail_commentbubble_profile {
	text-align: center;
	float: left;
	width: 58px;
}
.submenu_taskdetail_commentbubble_profile [find=profile_pic] {
	font-size: 35px;
	height: 40px;
	width: 40px;
	border: 2px solid #FBA026;
	border-radius: 40px;
	display: inline-block;
	background-size: 40px 40px;
	background-repeat: no-repeat;
}
.submenu_taskdetail_commentbubble_profile [find=name] {
	color: #3677A7;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
}
.submenu_taskdetail_commentbubble_text {
	width: 100%;
	vertical-align: middle;
	padding:0px 5px;
}
.submenu_taskdetail_commentbubble_text [type=textarea] {
	display:none;
}

.submenu_taskdetail_commentbubble_right .submenu_taskdetail_commentbubble_profile {
	float: right !important;
}
.submenu_taskdetail_commentbubble_right .submenu_taskdetail_commentbubble_text {
	float: right !important;
	text-align: right !important;
}
.submenu_taskdetail_commentbubble_quickAction {
	font-size: 10px;
}
.submenu_taskdetail_commentbubble_quickAction span{
	padding-right: 4px;
}
.submenu_taskdetail_commentbubble_quickAction [find=date]{
	color: #979797;
}
.submenu_taskdetail_commentbubble_quickAction [find=replyBtn],
 .submenu_taskdetail_commentbubble_quickAction [find=seeAllBtn] {
	cursor: pointer;
}
/*
styling for addNew
*/
.submenu_taskdetail_commentbubble_addNew .submenu_taskdetail_commentbubble_text [type=textarea] {
	display: initial;
}
.submenu_taskdetail_commentbubble_addNew .submenu_taskdetail_commentbubble_quickAction,
.submenu_taskdetail_commentbubble_addNew .submenu_taskdetail_commentbubble_quickAction [find=text] {
	display: none;
}



/*
styling for if the comment is from 'me'
*/
.submenu_taskdetail_commentbubble_me [find=text] {
	color: #54ADD2;
}
.submenu_taskdetail_commentbubble_me .submenu_taskdetail_commentbubble_bar {
	background-color: #FBA026 !important;
}
/*
styling for sub comments
*/
.submenu_taskdetail_commentbubble_sub {
	padding: 0px 0px;
	padding-left: 70px;
}
.submenu_taskdetail_commentbubble_sub .submenu_taskdetail_commentbubble_bar {
	display: table-cell;
	background-color: #979797;
}
.submenu_taskdetail_commentbubble_sub .submenu_taskdetail_commentbubble_profile{
	width: 50px;
}
.submenu_taskdetail_commentbubble_sub [find=profile_pic] {
	font-size: 20px;
	width: 23px;
	height: 23px;
	background-size: 23px 23px;
}
.submenu_taskdetail_commentbubble_sub [find=text], .submenu_taskdetail_commentbubble_sub [find=name] {
	font-size: 12px;
}
.submenu_taskdetail_commentbubble_sub [find=seeAll] {
	display: none;
}







/*
 * styling for files
 */
.submenu_content_taskdetail_files .submenu_taskdetail_tasktitle {
	height: 120px;
}
.submenu_content_taskdetail_files .skylist_card_textwrapper {
	width: initial;
}
.submenu_content_taskdetail_files [find=title_text]{
	opacity: 1;
	padding-right: 120px;
	max-height: 30px;
	width: 100%;
}
.submenu_content_taskdetail_files .submenu_taskdetail_tasktitle_fileInfo{
	font-size: 14px;
}
.submenu_content_taskdetail_files [find=leftbox]{
	font-size: 54px;
	height: 115px;
	width: 120px;
	text-align: center;
	padding-right: 15px;
	box-sizing: border-box;
}
.submenu_content_taskdetail_files [find=leftbox] img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.submenu_content_taskdetail_files [find=downloadIcon] {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-right: 50px;
	line-height: 120px;
	font-size: 40px;
	color: #4E2A84;
	text-decoration: none;
}

/*
 * END OF files
 */








/*MobileL to mobile*/
@media only screen and (max-width: 900px) {
	.submenu_taskdetail_paddingLeft {
		padding-left:5px;
	}
	.submenu_taskdetail_description [find=description_text].submenu_taskdetail_paddingLeft{
		padding-left: 20px;
	}
	.submenu_taskdetail_tasktitle .app_layers_dev_skytasks_checkbox label{
		top: 0px;
		left:0px;
		padding: 22px;
	}
}

/*mobile only*/
@media only screen and (max-width: 479px) {
	.submenu_taskdetail_meta .fa {
		font-size: 40px;
	}
}
