{% extends '/bundles/lincko/wrapper/templates/wrapper.twig' %}
{% block base %}
	<body>
		<script>
		JSfiles.push("{{ _filelatest('/lincko/app/scripts/generic/base.js') }}");
	</script>
		<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/generic/base.css') }}" type="text/css" />
		
		{% block content %}
		{% endblock %}
	</body>
{% endblock %}