{% extends '/bundles/lincko/wrapper/templates/wrapper.twig' %}
{% block base %}
	<body class="base_color_main_bg unselectable">
		<div id="begin_base" class="visibility_hidden">
			<script>
				var base_input_field = {};
				JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/base.js') }}");
				JSfiles.later("{{ _filelatest('/lincko/app/scripts/input/_base.js') }}", 40);
			</script>
			<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/generic/base.css') }}" type="text/css" />
		</div>
		{% block app_application %}
		{% endblock %}
		<div id="end_base" class="visibility_hidden"></div>
	</body>
{% endblock %}