
<div id="begin_burger" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/burger.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/generic/burger.css') }}" type="text/css" />
</div>
<div id="end_burger" class="visibility_hidden"></div>
<div class="display_none">
	<div id="-burger_dropdown" class="burger_dropdown base_color_bg_neutral"></div>
	<div id="-burger_option" class="burger_option">
		<div find="profile_pic" class="icon-SmallPersonaiconBlack"></div>
		<div find="username"></div>
	</div>
	<div id="-burger_tag" class="burger_tag"></div>


	<div id="-burger_calendar_prepend" class="burger_calendar_prepend">
		<div find='today_info'>Today is March 1, 2016</div>{#toto#}
		<div find='row1'>
			<span find='today_btn'>Today</span>
			<span find='tomorrow_btn'>Tomorrow</span>
		</div>
		<div find='row2'>
			<span find='twoDays_btn'>2 days later</span>
			<span find='oneWeek_btn'>1 week later</span>
		</div>
	</div>

	{#
	<table id="-burger_calenar_prepend" class="burger_calenar_prepend">
		<tr>
			<td find='today_info' col="2">Today is March 1, 2016</td>
		</tr>
		<tr>
			<td find='today_btn'>Today</td>
			<td find='tomorrow_btn'>Tomorrow</td>
		</tr>
		<tr>
			<td find='2days_btn'>2 days later</td>
			<td find='1week_btn'>1 week later</td>
		</tr>
	</table>
	#}



</div>
