<div id="begin_inputter" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/inputter.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/generic/inputter.css') }}" type="text/css" />
</div>
<div id="end_inputter" class="visibility_hidden"></div>
<div class="display_none">
	<div id="-inputter_container" class="inputter_container" tabindex="1">
		<div find = "left_menu_wrapper" class = "inputter_left_menu_wrapper"></div>
		<div find = "content_wrapper" class = "inputter_content_wrapper"></div>
		<div find = "right_menu_wrapper" class = "inputter_right_menu_wrapper"></div>
		<div find="toggle_to_add" class="toggle_to_add">add a New task</div>
		<div find = "uploading_wrapper" class = "inputter_uploading_wrapper">
			<div find="files_queue_wrapper" class = "files_queue_wrapper">
				<ul find = "files_queue">
					
				</ul>
			</div>
		</div>
	</div>


	<ul id="-inputter_menu_row">
		
	</ul>

	<div id="-inputter_record_impression" class="inputter_record_impression display_none">
		<div find="icon" class="inputter_record_impression_icon">
			<span class="icon-audio"></span>
		</div>
		<div find="text" class="inputter_record_impression_text">
			{{_trans('app', 8000, 113, 'html') }}
		</div>
	</div>


	<div id="-inputter_element_set">
		<div find="content" id="-inputter_element_content"  class="inputter_content">
			{# <input find="chat_textarea" type="text"  class="textarea comments_input" /> #}
			<div find="chat_textarea" contenteditable="true" class="textarea comments_input" autofocus="autofocus"></div>
			<div find="chat_audio"  class="audioarea comments_input display_none">
				{{ _trans('app', 40, 1, 'html') }}
				{# Hold to Talk #}
			</div>
		</div>

		<li find="switch" id="-inputter_element_switch" class="inputter_element_switch">
			<span class="inputter_ico needsclick"></span>
		</li>

		{# <li find="checkbox" id="-inputter_element_switch" class="inputter_element_checkbox audio">
			<span class="inputter_ico inputter_audio icon-audio needsclick"></span>
		</li>

		<li find="checkbox" id="-inputter_element_keyboard" class="inputter_element_checkbox keyboard">
			<span class="inputter_ico inputter_keyboard fa fa-keyboard-o needsclick"></span>
		</li> #}
		
		<li find="checkbox" id="-inputter_element_checkbox" class="inputter_element_checkbox chk">
			<span class="inputter_checkbox fa fa-check needsclick"></span>
		</li>
		<li find='send' id="-inputter_element_send" class="inputter_menu_item send">
			<span class="inputter_ico  needsclick"></span>
		</li>
		<li find='attachment' id="-inputter_element_attachment" class="inputter_menu_item attachment">
			<span class="inputter_ico  needsclick"></span>
			<div class="inputter_preview needsclick desktop_hide">
				<span find="shortcut_ico" class="shortcut_ico">
					<i class="fa inputter_preview_icon"></i>
				</span>
				<img find="shortcut_pic" class="shortcut_pic"/>
			</div>
		</li>
		<li find='scissors'  id="-inputter_element_scissors"  class="inputter_menu_item scissors">
			<span class="inputter_ico fa fa-scissors needsclick"></span>
		</li>

		<li id="-inputter_element_uploading_item" class="inputter_element_uploading_item">
			<div class="shortcut_wrapper">
				<span find="shortcut_ico" class="shortcut_ico">
					<i class="fa"></i>
				</span>
				<img find="shortcut_pic" class="shortcut_pic" />
			</div>
			<div class="shortcut_remove_wrapper">
				<span find="shortcut_remove" class="icon-Remove shortcut_remove"></span>
			</div> 
		</li>
	</div>	

	<textarea id="txt_paste_helper">
	</textarea>
</div>
