<div id="begin_inputter" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/inputter.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/generic/inputter.css') }}" type="text/css" />
</div>
<div id="end_inputter" class="visibility_hidden"></div>
<div class="display_none">
	<div id="-inputter_container" class="inputter_container">
		<div find = "left_menu_wrapper" class = "inputter_left_menu_wrapper"></div>
		<div find = "content_wrapper" class = "inputter_content_wrapper"></div>
		<div find = "right_menu_wrapper" class = "inputter_right_menu_wrapper"></div>
		<div find = "uploading_wrapper" class = "inputter_uploading_wrapper">
			<ul find = "files_queue">
				
			</ul>
		</div>
	</div>


	<ul id="-inputter_menu_row">
		
	</ul>

	<div id="-inputer_element_set">
		<div find="content" id="-inputter_element_content"  class="inputter_content">
			<div find="chat_textarea" contenteditable="true" class="textarea comments_input" autofocus="autofocus"></div>
		</div>
		
		<li find="checkbox" id="-inputter_element_checkbox" class="inputter_element_checkbox chk">
			<span class="inputter_checkbox fa fa-check needsclick"></span>
			
		</li>
		<li find='send' id="-inputter_element_send" class="inputter_munu_item send">
			<span class="inputter_ico  fa fa-send-o needsclick"></span>
		</li>
		<li find='attachment' id="-inputter_element_attachment" class="inputter_munu_item attachment">
			<span class="inputter_ico  icon-Add needsclick"></span>
			<div class="inputter_preview needsclick desktop_hide">
				<span find="shortcut_ico" class="shortcut_ico">
					<i class="fa inputter_preview_icon"></i>
				</span>
				<img find="shortcut_pic" class="shortcut_pic"/>
			</div>
		</li>
		<li find='scissors'  id="-inputter_element_scissors"  class="inputter_munu_item scissors">
			<span class="inputter_ico fa fa-scissors needsclick"></span>
		</li>

		<li id="-inputter_element_uploading_item" class="inputter_element_uploading_item">
			<span find="shortcut_ico" class="shortcut_ico">
				<i class="fa"></i>
			</span>
			<img find="shortcut_pic" class="shortcut_pic" />
			{# <span find="shortcut_remove" class="icon-Remove shortcut_remove"></span> #}
		</li>
	</div>	

	<textarea id="txt_paste_helper">
	</textarea>
</div>
