<div id="begin_skylist" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/skylist.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/generic/skylist.css') }}" type="text/css" />
</div>
<div id="end_skylist" class="visibility_hidden"></div>

<div class="display_none">

	<div id="-skylist_menu_navbar" class="skylist_menu_navbar">
		<span class = "skylist_menu_people">
			<span people="1">
				<i find="noSelect" class="icon-Single-Person"></i>
				{#<i find="Select" class="icon-Single-Person-Selected"></i>#}
			</span>
			<span people="2">
				<i find="noSelect" class="icon-Multiple-People"></i>
				{#<i find="Select" class="icon-Multiple-People-Selected"></i>#}
			</span>
		</span>
		<div class="skylist_menu_timesort"></div>
		<span class="skylist_menu_navbar_filter_icon icon-Filter"></span>
		<div class="skylist_menu_navbar_filter_pane" tabindex="1">
			<div find="filter_header_1">Filter:{#toto#}</div>
			<div find="radio_wrapper">
				<table find="option1" class="skylist_menu_navbar_filter_pane_optionWrapper">
					<td find="radio" class="skylist_menu_navbar_filter_pane_radio fa fa-circle"></td>
					<td find="text">Sort by due date{#toto#}</td>
				</table>
				<table find="option2" class="skylist_menu_navbar_filter_pane_optionWrapper">
					<td find="radio" class="skylist_menu_navbar_filter_pane_radio fa"></td>
					<td find="text">Sort by most recently updated{#toto#}</td>
				</table>
			</div>
			<div class="skylist_menu_navbar_filter_pane_divider"></div>
			<div find="checkbox_wrapper">
				<table class="skylist_menu_navbar_filter_pane_optionWrapper">
					<td find="checkbox" class="skylist_menu_navbar_filter_pane_checkbox fa fa-check"></td>
					<td find="text">Show completed tasks{#toto#}</td>
				</table>
			</div>
		</div>
		<div class="skylist_menu_navbar_search">
			<input find='search_textbox' type='textbox'></input>
			<div class="skylist_menu_navbar_search_overlay">
				<span find='search_icon' class="icon-Search"></span>
				<span>Search{#toto#}</span>
			</div>
			<span find="search_clear" class="display_none">&#x2715;</span>
		</div>
	</div>
	<span id="-skylist_menu_timesort_text_wrapper" class="skylist_menu_timesort_text_wrapper" sort=''>
		<span find='indicator' class="minTablet"></span>
		<span find='text' class="skylist_menu_timesort_text"></span>
	</span>

	<div id='-skylist_subwrapper' class="skylist_subwrapper"></div>
	<div id="-skylist" class="skylist overthrow"></div>

	<div id="-skylist_card" find="card" class="skylist_card">
		<div find='card_leftOptions' class="skylist_card_leftOptions maxMobileL">
			<div class="skylist_leftOptionBox">
				<div class="icon-Trash"></div>
			</div>
		</div>
		<div find='card_rightOptions' class="skylist_card_rightOptions maxMobileL"></div>
		<table find='card_center' class="skylist_card_center">
			<tr>
				<td find='card_spacestick' class="skylist_card_spacestick display_none">&nbsp;</td>
				<td find='card_leftbox'></td>
				<td find='card_textwrapper' class="skylist_card_textwrapper">
					<div find='title' contenteditable="false"></div><!--<span find='dash'>-</span>-->
					<div find='description'></div>
				</td>
				<span find='card_time' class="skylist_card_time floatright skylist_paddingRight"></span>
			</tr>
		</table>
		<table find="card_bottom" class="skylist_card_bottom skylist_paddingRight">
			<td>
				<span style="float: left" find="quickInfo1"></span>
				<span style="float: left" find="quickInfo2"></span>
				<span style="float: left" find="quickInfo3"></span>
				<span class="icon-Small-Persona"></span>
				<span find='name' class="skylist_icon_text">Name{# toto #}</span>
				<span class="icon-Pencil"></span>
				<span find='comments' class="skylist_icon_text">(<span find="commentCount"></span>){# toto #}</span>
			</td>
		</table>
	</div>

	<span id="-skylist_newcardCircle" class="skylist_newcardCircle icon-Big-Add"></span>

	{#rightOptionBox, goes inside <div find='card_rightOptions' #}
	<div id="-skylist_rightOptionBox" class="skylist_rightOptionBox">
		<div find='icon' class="fa"></div>
		<div find='text' class="skylist_rightOptionBox_text">Name{# toto #}</div>
	</div>

	{#for tasklist, goes inside <td find='card_leftbox'></td> #}
	<span id='-skylist_checkbox' find='checkbox' class="skylist_checkbox fa fa-check">
	</span>
	{#
	<span id='-skylist_checkbox' class="skylist_checkbox floatleft">
		<input type="checkbox" id="" name="checkname" value="" class="display_none">
		<label for="" class="icon-CheckboxCheck skylist_checkbox_visual"></label>
	</span>
	#}
	 <span id='-skylist_logo' class="skylist_logo floatleft">
        <span class="logo"></span>
        <div class="notification"></div>
     </span>
</div>

