{#
	How to use:
	$abc = 'A variable'
	$app->render('/bundles/lincko/wrapper/templates/debug.twig', array(
		'data' => $abc,
	));

	Then open the link (change the domain name according to dev(.net)/stage(.co)/production(.com) server)
	https://lincko.co/debug/twig
#}
<!doctype html>
<html>
<head>

<script>

	/*
	function sendHeight(){
		var body_height = $('body').outerHeight();
		parent.postMessage(body_height, '*');
	}
	$(window).ready(sendHeight).resize(sendHeight);
	setInterval(sendHeight, 2000);
	*/

var w = new Worker("{{ _filelatest('/lincko/app/scripts/workers/worker.js') }}");
w.addEventListener("message", function(e){
	alert(e.data);
})
w.postMessage(true);

</script>

<style type="text/css">
	body {
		margin: 0;
		padding: 0;
	}
</style>

</head>
<body>
	Hello web worker!
	<div id='toto'></div>
</div>
</body>
</html>
