{#
	How to use:
	$abc = 'A variable'
	$app->render('/bundles/lincko/wrapper/templates/debug.twig', array(
		'data' => $abc,
	));

	Then open the link (change the domain name according to dev(.net)/stage(.co)/production(.com) server)
	https://lincko.co/debug/twig
#}
<!doctype html>
<html>
<style>

#aaa {
	width: 400px;
	height: 400px;
	background: red;
	display: table;
}

#bbb {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#ccc {
	width: 128px;
	height: 128px;
	background: blue;
	border: solid 10px black;
	vertical-align: middle;
}

</style>
<body>
{{ _debug(data) }}
<div id='aaa'>
	<div id='bbb'>
		<img id='ccc' src="{{ _filelatest('/lincko/app/images/app/project/quick_photo.png') }}" />
		A text
	</div>
</div>
</body>
</html>