{#
	How to use:
	$abc = 'A variable'
	$app->render('/bundles/lincko/wrapper/templates/debug.twig', array(
		'data' => $abc,
	));

	Then open the link (change the domain name according to dev(.net)/stage(.co)/production(.com) server)
	https://lincko.co/debug/twig
#}
<!doctype html>
<html>
<script>

function foo(){
	var b = 2;
	return b;
}
foo();

</script>
<body>

</body>
</html>