{#
	How to use:
	$abc = 'A variable'
	$app->render('/bundles/lincko/wrapper/templates/debug.twig', array(
		'data' => $abc,
	));

	Then open the link (change the domain name according to dev(.net)/stage(.co)/production(.com) server)
	https://lincko.co/debug/twig
#}
<!doctype html>
<html>
<head>



<style type="text/css">
	body {
		margin: 0;
		padding: 0;
	}
</style>

</head>
<body>


<div><font face="Arial">Hello,</font></div><div><font face="Arial"><br></font></div><div><font face="Arial">@@mail_username~~ has invited you to join Lincko Beta. Lincko helps you accomplish great things by connecting your team in new ways. Use the link below to create an account and start collaborating with @@mail_username~~ on your projects.</font></div><div><font face="Arial"><br></font></div><div><font face="Arial" color="#faa027"><a href="@@mail_link~~">@@mail_link~~</a></font></div><div><font face="Arial"><br>We are currently in Beta and are hoping to get a lot of feedback to make our product better for you.<br><br></font></div><div><font face="Arial">Kind Regards,</font></div><div><font face="Arial">The Lincko Team</font></div>

</body>
</html>
