{# category 9 #}
<div id="begin_wrapper_loading" class="visibility_hidden">
	<script>
		wrapper_load_progress.progress_bar = 'wrapper_loading_progress_bar';
		wrapper_load_progress.progress_wall = 'wrapper_loading_progress_wall';
		JSfiles.later("{{ _filelatest('/lincko/wrapper/scripts/loading.js') }}", 40);
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/wrapper/styles/loading.css') }}" type="text/css" />
</div>
<div id="wrapper_loading_progress_wall">
	<div id="wrapper_loading_progress_wall_cell">
		<table id="wrapper_loading_table">
			<tr>
				<td></td>
				<td id="wrapper_loading_cell_center">
					<div id="wrapper_loading_content">Lincko</div>
					<div id="wrapper_loading_progress">
						<div id="wrapper_loading_progress_bar"></div>
					</div>
				</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div id="wrapper_loading_home">{{ _trans('web', 9, 1, 'html') }}{# Home page#}</div>
</div>
<div id="end_wrapper_loading" class="visibility_hidden"></div>

