.app_layers_chat .skylist_card_bottom {
	display: none;
}
.app_layers_chat .skylist_menu_people {
	display: none;
}

.app_layers_chat .skylist_menu_timesort {
	display: none;
}

.app_layers_chat .skylist_menu_navbar_filter_icon {
	display: none;
}

.app_layers_chat .skylist_card {
	cursor: pointer;
}
.app_layers_chat .skylist_card_center [find=description] {
	font-size: 14px;
	color: #3270A0;
}

.app_layers_chat .skylist_logo >span {
	display: inline-block;
	width: 60px;
	font-size: 55px;
	color: #FBA026;
}

.app_layers_chat .skylist_card_center [find=title] {
	font-size: 18px;
	color: #475577;
}

.app_layers_chat .skylist_newcardCircle {
	color: #679E52;
}
.app_layers_chat .skylist_newcardCircle:hover {
	opacity: 0.5;
}
/* Mobile phone in Portrait */
@media only screen and (max-width: 479px){
	.app_layers_chat {
		padding: 0;
	}
}

/* Tablet in Landscape */
@media only screen and (max-width: 1279px){
	.app_layers_chat .skylist_logo >span {
		width: 48px;
		font-size: 40px;
	}
	.app_layers_chat .skylist_card_center [find=description] {
		font-size: 12px;
	}

	.app_layers_chat .skylist_card_center [find=title] {
		font-size: 14px;
	}
}
