.app_layers_chat .skylist_card_bottom {
	display: none;
}
.app_layers_chat .skylist_menu_people {
	display: none;
}

.app_layers_chat .skylist_menu_timesort {
	display: none;
}

.app_layers_chat .skylist_menu_navbar_search {
	display: none;
}

.app_layers_chat .skylist_menu_navbar_filter_icon {
	display: none;
}

.app_layers_chat  .skylist_subwrapper {
	padding-top: 5px;
}

.app_layers_chat .skylist_card {
	cursor: pointer;
}
.skylist .skylist_card_center [find=description] {
	font-size: 14px;
	color: #3270A0;
}

.skylist .skylist_logo >span {
	display: inline-block;
	width: 60px;
	font-size: 55px;
	color: #FBA026;
}
.submenu_wrapper .skylist .skylist_logo >span {
	width: 45px;
}

.app_layers_chat .skylist_card_center [find=title] {
	font-size: 18px;
	color: #475577;
}

.app_layers_chat .skylist_newcardCircle {
	color: #679E52;
}
.app_layers_chat .skylist_newcardCircle:hover {
	opacity: 0.5;
}

.skylist .logo_wrapper {
	color: #E98723;
	position: relative;
}

.skylist .logo_wrapper .notification {
	display: none;
	background-color: red;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	height: 15px;
	min-width: 15px;
	line-height: 1;
	border-radius: 8px;
	font-size: 4px;
	text-align: center;
	vertical-align: middle;
}

/* Mobile phone in Portrait */
@media only screen and (max-width: 479px){
	.app_layers_chat {
		padding: 0;
	}
}

/* Tablet in Landscape */
@media only screen and (max-width: 1279px){
	.app_layers_chat .skylist_logo >span {
		width: 48px;
		font-size: 40px;
	}
	.app_layers_chat .skylist_card_center [find=description] {
		font-size: 12px;
	}

	.app_layers_chat .skylist_card_center [find=title] {
		font-size: 14px;
	}
}
