.app_layers_dashboard_header{
	/*border-bottom: 1px solid #FFFFFF;*/
}
.app_layers_dashboard_header [find=date]{
	text-align: center;
	text-transform: capitalize;
    font-size: 18px;
    color: #141414;
    height: 40px;
    line-height: 40px;
}
.app_layers_dashboard_header .app_project_projects_progress{
	height: 24px;
	font-size: 24px;
}
.app_layers_dashboard_header .app_project_projects_progress:after{
	line-height: 26px;
}

.app_layers_dashboard_chartBlock{
	padding: 30px 0px;
    border-bottom: 1px solid #FFFFFF;
}
.app_layers_dashboard_chartBlock [find=header]{
	font-size: 14px;
	color: #f5a623;
	padding: 0px 10px;
}
.app_layers_dashboard_chartBlock [find=btn_range]{
	font-size: 12px;
	color: #54add2;
}
.app_layers_dashboard_chartBlock [find=chartContainer]{
	position: relative;
	padding: 0px 20px 0px 20px;
	height: 200px;
}

/*burndown*/
.app_layers_dashboard_burndown_wrapper [find=legend]{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 20px;
    margin: 0px 30px;
}
.app_layers_dashboard_burndown_wrapper [find=legend] [find=open],
.app_layers_dashboard_burndown_wrapper [find=legend] [find=completed]{
	border: solid 1px #d8d8d8;
	position: absolute;
    height: 20px;
    box-sizing: border-box;
    text-align: center;
    left: 0px;
    right: 0px;
    border-radius: 3px;
    font-size: 18px;
    line-height: 18px;
    
}
.app_layers_dashboard_burndown_wrapper [find=legend] [find=open]{
    top: 40px;
}
.app_layers_dashboard_burndown_wrapper [find=legend] [find=completed]{
    bottom: 40px;
    border-color: #f5a026;
    color: #f5a026;
}

/*taskHistory*/
.app_layers_dashboard_taskHistory_wrapper [find=legend]{
	position: absolute;
	display: inline-block;
    height: 100%;
    margin-left: 20px;
    left: 0px;
    opacity: 0;
    min-width: 30px;
}
.app_layers_dashboard_taskHistory_wrapper [find=legend] [find=team],
.app_layers_dashboard_taskHistory_wrapper [find=legend] [find=user]{
	position: absolute;
	font-size: 30px;
	height: 30px;
    width: 30px;
}
.app_layers_dashboard_taskHistory_wrapper [find=legend] [find=user]{
	border: 1px solid #FBA026;
	color: #FBA026;
    border-radius: 50px;
    /*display: inline-block;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
