.app_layers_files_fileslist .skylist_menu_navbar_filter_icon{
	display: none;
}

.app_layers_files_fileslist .skylist_card_leftbox_fileIcon{
	font-size: 30px;
	padding: 10px;
}

.app_layers_files_fileslist .skylist_card_center{
	height: 85px;
}

.app_layers_files_fileslist .skylist_card_center [find=card_leftbox]{
	height: 85px;
	width: 120px;
	text-align: center;
	padding-right: 15px;
	box-sizing: border-box;
}
.app_layers_files_fileslist .skylist_card_center [find=title]{
	font-size: 18px;
	max-height: 24px;
	word-break: break-all;
}
.app_layers_files_fileslist .skylist_card_center [find=description] {
	font-size: 14px;
	height: auto;
}

.app_layers_files_fileslist .skylist_card_time {
    color: #979797;
}

.app_layers_files_fileslist [find=card_leftbox] img{
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}


.app_layers_files_fileslist .skylist_newcardCircle{
	color: #4E2A84;
}


/*
----hover----
*/
.app_layers_files_fileslist .skylist_card:hover .skylist_card_center, 
.app_layers_files_fileslist .skylist_card_hover .skylist_card_center {
	background: #e6e1ed;
}
.app_layers_files_fileslist .skylist_card:hover .skylist_card_bottom, 
.app_layers_files_fileslist .skylist_card_hover .skylist_card_bottom {
	background: #e6e1ed;
}
/*
----end hover----
*/



/*MobileL and down */
@media only screen and (max-width: 900px) {
	.app_layers_files_fileslist .skylist_card_center [find=title]{
	font-size: 14px;
	max-height: 20px;
	}
	.app_layers_files_fileslist .skylist_card_center [find=description] {
		font-size: 12px;
	}

}
