.app_layers_notes_noteslist .skylist_menu_navbar_filter_icon{
	display: none;
}

.app_layers_notes_noteslist .skylist_newcardCircle {
	color: #F0EB4E;
	color: #FBD226;
}

.app_layers_notes_noteslist .skylist_card_center {
	height: 85px;
}

.app_layers_notes_noteslist .skylist_card_leftbox_abc {
	background-image: url('/lincko/app/images/app/abc.png');
	background-size: 45px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px 40px;
}

.app_layers_notes_noteslist .skylist_card_center [find=title]{
	font-size: 18px;
}

.app_layers_notes_noteslist .skylist_card_center [find=description] {
	font-size: 14px;
	max-height: 40px;
	height: initial;
}

/*
----hover----
*/
.app_layers_notes_noteslist .skylist_card:hover .skylist_card_center, 
.app_layers_notes_noteslist .skylist_card_hover .skylist_card_center {
	background: #fff1b9;
}
.app_layers_notes_noteslist .skylist_card:hover .skylist_card_bottom, 
.app_layers_notes_noteslist .skylist_card_hover .skylist_card_bottom {
	background: #fff1b9;
}
/*
----end hover----
*/



/*MobileL and down */
@media only screen and (max-width: 900px) {
	.app_layers_notes_noteslist .skylist_card_center {
		height: 64px;
	}

	.app_layers_notes_noteslist .skylist_card_center [find=title]{
		font-size: 14px;
	}
	.app_layers_notes_noteslist .skylist_card_center [find=description]{
		font-size: 12px;
		max-height: 34px;
	}


	.app_layers_notes_noteslist .skylist_card_bottom{
		height: 18px;
		font-size: 10px;
	}
	.app_layers_notes_noteslist .skylist_card_bottom td{
			padding: 0px;
	}
}
