.app_layers_notes_noteslist .skylist_menu_navbar_filter_icon{
	display: none;
}

.app_layers_notes_noteslist .skylist_newcardCircle {
	color: #F0EB4E;
	color: #FBD226;
}

.app_layers_notes_noteslist .skylist_card_center {
	height: 85px;
}

.app_layers_notes_noteslist .skylist_card_center_leftbox{
	height: 82px;
    width: 82px;
    text-align: center;
    padding: 0px;
    padding-right: 4px;
    box-sizing: border-box;
}
.app_layers_notes_noteslist .skylist_card_center_leftbox [find=icon]{
	font-size: 30px;
}
.app_layers_notes_noteslist .skylist_card_center_leftbox img{
    max-height: 100%;
    max-width: 100%;
}

.app_layers_notes_noteslist .skylist_card_leftbox_abc {
	background-image: url('/lincko/app/images/app/abc.png');
	background-size: 45px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px 30px;
}
.app_layers_notes_noteslist .skylist_card_center [find=title]{
	font-size: 18px;
	max-height: 48px;
	word-break: break-all;
}

.app_layers_notes_noteslist .skylist_card_center [find=description] {
	font-size: 14px;
	max-height: 40px;
	height: initial;
}

.app_layers_notes_noteslist .skylist_card_time{
	color: #979797;
}

.app_layers_notes_noteslist .skylist_card_bottom [find=quickInfo2]{
	max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*
----hover----
*/
.app_layers_notes_noteslist .skylist_card:hover .skylist_card_center, 
.app_layers_notes_noteslist .skylist_card_hover .skylist_card_center {
	background: #fff1b9;
}
.app_layers_notes_noteslist .skylist_card:hover .skylist_card_bottom, 
.app_layers_notes_noteslist .skylist_card_hover .skylist_card_bottom {
	background: #fff1b9;
}
/*
----end hover----
*/



/*MobileL and down */
@media only screen and (max-width: 900px) {
	.app_layers_notes_noteslist .skylist_card_center {
		height: 64px;
	}

	.app_layers_notes_noteslist .skylist_card_center [find=title]{
		font-size: 14px;
	}
	.app_layers_notes_noteslist .skylist_card_center [find=description]{
		font-size: 12px;
		max-height: 34px;
	}


	.app_layers_notes_noteslist .skylist_card_bottom{
		height: 18px;
		font-size: 10px;
	}
	.app_layers_notes_noteslist .skylist_card_bottom td{
			padding: 0px;
	}
}
