.app_layers_tasks_tasklist .skylist_newcardCircle {
	color: #475577;
}
.app_layers_tasks_tasklist .skylist_card_center [find=title]{
	max-height: 58px;
	word-break: break-word;
}
.app_layers_tasks_tasklist .skylist_card [find=description] {
	display: none;
}


/*MobileL and down */
@media only screen and (max-width: 900px) {
	.app_layers_tasks_tasklist .skylist_card_center [find=title]{
		font-size: 14px;
		max-height: 38px;
	}
}
