.app_layers_tasks_tasklist .skylist_newcardCircle {
	color: #475577;
}
.app_layers_tasks_tasklist .skylist_card_center [find=title]{
	max-height: 58px;
	word-break: break-word;
}
.app_layers_tasks_tasklist .skylist_card [find=description] {
	display: none;
}
.app_layers_tasks_tasklist .skylist_card_progress.skylist_card_progress_hidden{
	display: block;
}

/*
----hover----
*/
.app_layers_tasks_tasklist .skylist_card:hover .skylist_card_center, 
.app_layers_tasks_tasklist .skylist_card_hover .skylist_card_center {
	background: #e7e9ed;
}
.app_layers_tasks_tasklist .skylist_card:hover .skylist_card_bottom, 
.app_layers_tasks_tasklist .skylist_card_hover .skylist_card_bottom {
	background: #e7e9ed;
}
.app_layers_tasks_tasklist .skylist_card:hover .skylist_card_progress_hidden, 
.app_layers_tasks_tasklist .skylist_card_hover .skylist_card_progress_hidden {
	background: #e7e9ed;
}
/*
----end hover----
*/




/*MobileL and down */
@media only screen and (max-width: 900px) {
	.app_layers_tasks_tasklist .skylist_card_center [find=title]{
		font-size: 14px;
		max-height: 38px;
	}
}
