{# category ? #}
<div id="begin_models_chat" class="visibility_hidden">
		<script>
				JSfiles.later("{{ _filelatest('/lincko/app/scripts/models/chat.js') }}", 60);
		</script>
		<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/models/chat.css') }}" type="text/css" />
</div>
<div id="end_models_chat" class="visibility_hidden"></div>
<div class="display_none">
	<div find="actionMenu" id="-app_models_chat_bubble_actionMenu" class="app_models_chat_bubble_actionMenu">{#toto#}
		<span find="task_btn" class="app_models_chat_actionBtn skylist_clickable icon-Tasks"></span>
		<span find="translate_btn" class="app_models_chat_actionBtn skylist_clickable">Translate</span>
	</div>
	<div id='-app_models_chat_bubble_chatTranslation' find="translated_text" class="app_models_chat_bubble_chatTranslation">
		<div find="divider"></div>
		<div find="text"></div>
	</div>
</div>
