{# category ? #}
<div id="begin_models_history" class="visibility_hidden">
		<script>
				JSfiles.later("{{ _filelatest('/lincko/app/scripts/models/history.js') }}", 40);
				JSfiles.later("{{ _filelatest('/lincko/app/scripts/models/resume.js') }}", 60);
		</script>
		<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/models/history.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/models/resume.css') }}" type="text/css" />
</div>
<div id="end_models_history" class="visibility_hidden"></div>
<div class="display_none">
	<li id="-models_history_loading" class="models_history_loading">
		<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
	</li>

	<li id="-models_history_line" class="clear models_history_line">
		<div class="models_history_line_box">
			<div class="separator_left"></div>
			<span class="history_time"></span>
			<div class="separator_right"></div>	
		</div>
	</li>

	<li id="-models_history_comment_recalled" class="models_history_comment_recalled models_history_wrapper">
		<div find="timestamp" class="time"></div>
		<div find="msg"></div>
	</li>

	<li id="-models_history_comment_long" class="clear models_history_wrapper">
		{% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
		<div class="models_history_content_wrapper">
			<div find="timestamp" class="models_history_standard_timestamp">
				<p class="date"></p>
				<p class="time"></p>
			</div>
			<div class="models_history_content">
			<span find="action" class="models_history_standard_action"></span>
			<span find="target_type" class="models_history_standard_target_type"></span>
			<span find="target" class="models_history_standard_target"></span>
			<div find="previous" class="models_history_standard_previous display_none"></div>
			<!--<p find="content" class="models_history_standard_content"></p>-->
		</div>
		</div>
	</li>

	<li id="-models_history_comment_short" class="clear models_history_wrapper">
		{% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
		<div class="models_history_content_wrapper">
			<div find="timestamp" class="models_history_standard_timestamp">
				<p class="date"></p>
				<p class="time"></p>
			</div>
			<div class="models_history_content selectable">
				<span contenteditable find="content" class="models_history_standard_content"></span>
			</div>
		</div>
	</li>

	<li id="-models_history_tasks" class="clear models_history_wrapper">
		{% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
		<div class="models_history_content_wrapper">
			<div find="timestamp" class="models_history_standard_timestamp">
				<p class="date"></p>
				<p class="time"></p>
			</div>
			<div class="models_history_content">
				<span find="action" class="models_history_standard_action"></span>
				<span find="target" class="models_history_standard_target"></span>
				<div find="previous" class="models_history_standard_previous display_none"></div>
			</div>
		</div>
	</li>

	<li id="-models_history_projects" class="clear models_history_wrapper">
		{% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
		<div class="models_history_content_wrapper">
			<div find="timestamp" class="models_history_standard_timestamp">
				<p class="date"></p>
				<p class="time"></p>
			</div>
			<div class="models_history_content">
				<span find="action" class="models_history_standard_action"></span>
				<span find="target" class="models_history_standard_target"></span>
				<div find="previous" class="models_history_standard_previous display_none"></div>
			</div>
		</div>
	</li>

	<li id="-models_history_notes" class="clear models_history_wrapper">
		{% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
		<div class="models_history_content_wrapper">
			<div find="timestamp" class="models_history_standard_timestamp">
				<p class="date"></p>
				<p class="time"></p>
			</div>
			<div class="models_history_content">
				<span find="action" class="models_history_standard_action"></span>
				<span find="target" class="models_history_standard_target"></span>
				<div find="previous" class="models_history_standard_previous display_none"></div>
			</div>
		</div>
	</li>

	<li id="-models_history_files" class="clear models_history_wrapper">
		{% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
		<div class="models_history_content_wrapper">
			<div find="timestamp" class="models_history_standard_timestamp">
				<p class="date"></p>
				<p class="time"></p>
			</div>
			<div class="models_history_content">
				<span find="action" class="models_history_standard_action"></span>
				<div class="models_history_standard_shortcut_wrapper">
					<span find="shortcut" class="models_history_standard_shortcut models_history_standard_shortcut_ico">
						<i class="fa"></i>
					</span>
					<span find="shortcut" class="models_history_standard_shortcut  models_history_standard_shortcut_pic"></span>
					<span class="models_history_standard_target_wrapper" find="target"></span>
					<div contenteditable="false" tabindex="1"></div>
				</div>
			</div>
		</div>
	</li>

	<li id="-models_history_uploaded_file" class="clear models_history_wrapper">
		{% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
		<div class="models_history_content_wrapper">
			<div find="timestamp" class="models_history_standard_timestamp">
				<p class="date"></p>
				<p class="time"></p>
			</div>
			<div class="models_history_content">
				<div class="models_history_standard_shortcut_wrapper clear">
					<span find="shortcut" class="models_history_standard_shortcut models_history_standard_shortcut_ico">
						<i class="fa"></i>
					</span>
					<span find="shortcut" class="models_history_standard_shortcut  models_history_standard_shortcut_pic"></span>
					<span class="models_history_standard_target_wrapper" find="target"></span>
					<div contenteditable="false" tabindex="1"></div>
				</div>
			</div>
		</div>
	</li>

	<li id="-models_history_uploading_file" class="clear models_history_wrapper">
		{% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
		<div class="models_history_content_wrapper">
			<div find="timestamp" class="models_history_standard_timestamp">
				<p class="date"></p>
				<p class="time"></p>
			</div>
			<div class="models_history_content">
				<div class="models_history_standard_shortcut_wrapper clear">
					<span find="shortcut" class="models_history_standard_shortcut models_history_standard_shortcut_ico models_history_standard_shortcut_uploading">
						<i class="fa"></i>
					</span>
					<span find="shortcut" class="models_history_standard_shortcut  models_history_standard_shortcut_pic models_history_standard_shortcut_uploading"></span>
					<div class="models_history_standard_target_wrapper">
						<span class="models_history_standard_target_wrapper" find="target"></span>
						<div class="progress_bar_wrapper">
							<div find="progress_bar" class="progress_bar"></div>
						</div>
						<p find="progress_text"></p>
						<p class="uploading_action"></p>
					</div>
					<div contenteditable="false" tabindex="1"></div>
				</div>
			</div>
		</div>
	</li>


	<li id="-models_history_audio" class="clear models_history_wrapper">
		{% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
		<div class="models_history_content_wrapper">
			<div find="timestamp" class="models_history_standard_timestamp">
				<p class="date"></p>
				<p class="time"></p>
			</div>
			<div find="audio_containner" class="models_history_content">
				
			</div>
		</div>
	</li>



	<li id="-models_history_answer_options" class="models_history_wrapper models_history_answer_options">
		<div find="answers_wrapper" class="answers_wrapper"></div>
	</li>

	<div id="-help_iscroll"></div>
	<div id="-models_history_chats_notif" find="chats_notif" class="models_history_notif display_none"></div>

</div>
