{# category ? #}
<div id="begin_models_history" class="visibility_hidden">
        <script>
                JSfiles.later("{{ _filelatest('/lincko/app/scripts/models/history.js') }}", 60);
        </script>
        <link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/models/history.css') }}" type="text/css" />
</div>
<div id="end_models_history" class="visibility_hidden"></div>
{% include "/bundles/lincko/app/templates/models/picpreview.twig" %}
<div class="display_none">
        <li id="-models_history_line" class="clear">
                <div class="separator"></div>
                <div class="separator"></div>
                <span></span>
        </li>
        <li id="-models_history_comment_long" class="clear models_history_wrapper">
                        {% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
                        <div class="models_history_content_wrapper">
                                <div find="timestamp" class="models_history_standard_timestamp">
                                        <p class="date"></p>
                                        <p class="time"></p>
                                </div>
                                <div class="models_history_content">
                                        <span find="action" class="models_history_standard_action"></span>
                                        <span find="target_type" class="models_history_standard_target_type"></span>
                                        <span find="target" class="models_history_standard_target"></span>
                                        <!--<p find="content" class="models_history_standard_content"></p>-->
                                </div>

                        </div>
        </li>
        <li id="-models_history_comment_short" class="clear models_history_wrapper">
                {% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
                        <div class="models_history_content_wrapper">
                                <div find="timestamp" class="models_history_standard_timestamp">
                                        <p class="date"></p>
                                        <p class="time"></p>
                                </div>
                                <div class="models_history_content">
                                        <span contenteditable find="content" class="selectable models_history_standard_content"></span>
                                </div>
                        </div>

        </li>
        <li id="-models_history_tasks" class="clear models_history_wrapper">
                        {% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
                        <div class="models_history_content_wrapper">
                                <div find="timestamp" class="models_history_standard_timestamp">
                                        <p class="date"></p>
                                        <p class="time"></p>
                                </div>
                                <div class="models_history_content">
                                        <span find="action" class="models_history_standard_action"></span>
                                        <span find="target" class="models_history_standard_target"></span>
                                </div>
                        </div>
        </li>
        <li id="-models_history_projects" class="clear models_history_wrapper">
                        {% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
                        <div class="models_history_content_wrapper">
                                <div find="timestamp" class="models_history_standard_timestamp">
                                        <p class="date"></p>
                                        <p class="time"></p>
                                </div>
                                <div class="models_history_content">
                                        <span find="action" class="models_history_standard_action"></span>
                                        <span find="target" class="models_history_standard_target"></span>
                                </div>

                        </div>
        </li>
        <li id="-models_history_files" class="clear models_history_wrapper">
                {% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
                        <div class="models_history_content_wrapper">
                                <div find="timestamp" class="models_history_standard_timestamp">
                                        <p class="date"></p>
                                        <p class="time"></p>
                                </div>
                                <div class="models_history_content">
                                        <span find="action" class="models_history_standard_action"></span>
                                        <div class="models_history_standard_shortcut_wrapper">
                                                <img find="shortcut" class="models_history_standard_shortcut"></img>
                                                <span find="target" class="models_history_standard_target"></span>
                                        </div>
                                </div>

                        </div>
        </li>
        <li id="-models_history_uploading_file" class="clear models_history_wrapper">
            {% include "/bundles/lincko/app/templates/models/include/history_base.twig" %}
            <div class="models_history_content_wrapper">
                <div find="timestamp" class="models_history_standard_timestamp">
                    <p class="date"></p>
                    <p class="time"></p>
                </div>
                <div class="models_history_content">
                    <div class="models_history_standard_shortcut_wrapper clear">
                        <span find="shortcut" class="models_history_standard_shortcut">
                            <i class="icon-PauseCloud"></i>
                            <i class="icon-ResumeCloud"></i>
                        </span>
                        <div class="models_history_standard_target_wrapper">
                            <span find="target" class=""></span>
                            <div class="progress_bar_wrapper">
                                <div find="progress_bar" class="progress_bar"></div>
                            </div>
                            <p find="progress_text"></p>
                            <p class="uploading_action"></p>                   
                        </div>
                    </div>
                </div>
            </div>
        </li>
</div>
