{# category ? #}
<div id="begin_models_intro" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/models/intro.js') }}", 60);
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/models/intro.css') }}" type="text/css" />
</div>
<div id="end_models_intro" class="visibility_hidden"></div>

<div class="display_none">
	<div id="-models_intro_wrapper" class="models_intro_wrapper">
		<ul find="script_list" class="models_intro_script_list">

		</ul>
	</div>
	<span id="-models_intro_lazy" class="models_intro_lazy">
		<span class="models_intro_lazy_pot" index="0"></span>
		<span class="models_intro_lazy_pot" index="1"></span>
		<span class="models_intro_lazy_pot" index="2"></span>
	</span>
	<span id="-models_intro_options_item" find="content" class="models_intro_options_item"></span>
	<li id="-models_intro_item" class="models_intro_item">
		<div find="profile" class="models_intro_profile">
			<span find="profile_ico" class="models_intro_profile_ico">
				
			</span>
			<span find="profile_name" class="models_intro_profile_name">

			</span>
		</div>
		<div class="models_intro_content_wrapper">
			<div class="models_intro_content">
				<span find="content" class="models_intro_standard_content"></span>
			</div>
		</div>
	<li>
	<li id="-models_intro_options" class="models_intro_options">
		<div class="models_intro_options_content_wrapper">
			<div find="options_content" class="models_intro_options_content">
				
			</div>
		</div>
	<li>
</div>
