<div id="begin_models_picpreview" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/models/preview.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/models/picpreview.css') }}" type="text/css" />
</div>
<div id="end_models_projects" class="visibility_hidden"></div>

<iframe id="my_iframe" class="display_none"></iframe>

<div class="display_none">
	<script>
		function app_models_download(url) {
			document.getElementById('my_iframe').src = url;
		};
	</script>
	<div id="-pic_preview_full_screen" class="pic_preview_full_screen">
		<div class="pic_preview_wrapper">
			<label class="fa fa-2x fa-times-circle close" find="close" aria-hidden="true"></label>
			<div class="pic_wrapper">
				<img src="">
				<label class="label">
					<p class="pic_preview_name"></p>
					<div class="pic_preview_icon icon-Cloud-Download"></div>
				</label>
			</div>
		</div>
	</div>
</div>
