<div id="begin_models_picpreview" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/models/preview.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/models/picpreview.css') }}" type="text/css" />
</div>
<div id="end_models_projects" class="visibility_hidden"></div>

<div class="display_none">
	<div id="-pic_preview_full_screen">
		<iframe id="my_iframe" style="display:none;"></iframe>
		<script>
			function Download(url) {
    			document.getElementById('my_iframe').src = url;
			};
		</script>
		<div id="pic_preview_wrapper">
			<label class="fa fa-2x fa-times-circle close" aria-hidden="true"></label>
			<div class="pic_wrapper">
				<img src="">
				<label class="label">
					<p class="pic_preview_name"></p>
					<a download class="pic_preview_icon icon-Cloud-Download"></a>
				</label>
			</div>
		</div>
	</div>
</div>


