<div id="begin_models_playerpreview" class="visibility_hidden">
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/models/player.css') }}" type="text/css" />
</div>
<div id="end_models_projects" class="visibility_hidden"></div>

<div class="display_none">
	<div id="-player_preview_full_screen" class="player_preview_full_screen">
		<div class="player_preview_style_wrapper">
			<div class="player_preview_wrapper"></div>
			<label class="fa fa-2x fa-times-circle close" find="close" aria-hidden="true"></label>
		</div>
	</div>
</div>
