{# category ? #}
<div id="begin_models_tasks" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/models/tasks.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/models/tasks.css') }}" type="text/css" />
</div>
<div id="end_models_tasks" class="visibility_hidden"></div>

<div class="display_none">

	<div id="-models_tasks" class="models_tasks">
		<div find="title"></div>
		<div class="models_tasks_line"><div></div></div>
		<div find="comment"></div>
	</div>

</div>