{% extends '/bundles/lincko/wrapper/templates/wrapper.twig' %}
{% block base %}
	<body>
		<link rel="stylesheet" href="{{ _filelatest('/lincko/web/styles/generic/base.css') }}" type="text/css" />
		{% include '/bundles/lincko/web/templates/generic/css/base.css.twig' %}
		{% include '/bundles/lincko/web/templates/generic/head.twig' %}
		{% include '/bundles/lincko/web/templates/generic/signin.twig' %}
		{% block content %}
		{% endblock %}
		{% include '/bundles/lincko/web/templates/generic/foot.twig' %}
	</body>
{% endblock %}