{% extends '/bundles/lincko/wrapper/templates/wrapper.twig' %}
{% block base %}
	<body>
		<link rel="stylesheet" href="{{ _filelatest('/lincko/web/styles/generic/base.css') }}" type="text/css" />
		{% include '/bundles/lincko/web/templates/generic/styles/base.css.twig' %}
		
		{% include '/bundles/lincko/web/templates/generic/mobile_menu.twig' %}

		<div class="base_wrapper">
			{% include '/bundles/lincko/web/templates/generic/head.twig' %}
			{% include '/bundles/lincko/web/templates/generic/signin.twig' %}
			<div class="base_content" id="base_content">
				<table class="base_table" id="base_table">
					<tr>
						<td class="base_body" id="base_body">
							aaa<br />
							{{ _trans('web', 8888, 1, 'html') }}
							<br />
							Fait&#38; fait et fait&#38;<br />&NewLine;Prenez le contr&ocirc;le des t&acirc;ches entre diff&eacute;rents projets et s&apos;assurer que les t&acirc;ches d&apos;aujourd&apos;hui et de demain&comma; se feront&period;
						</td>
					</tr>
				</table>
			</div>
		</div>
<script>
	var myScroll = new IScroll('#base_content');
</script>
	</body>
{% endblock %}