/*
	Improving HTML5 app performance with GPU accelerated CSS transform
	BUG: fixed position and transform are buggy on some browsers (especially Firefox)
*/
.accelerated_donotuse {
	will-change: transform;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

/*
 *CSS for compatibility
*/
[contenteditable] {
/*fix for iOS 7 and up, for typing in contenteditable*/
	-webkit-user-select: text;
	user-select: text;
}
