{% extends '/bundles/lincko/app/templates/generic/base.twig' %}

{% block app_application %}
<div id="begin_app_application" class="visibility_hidden">
	<script>
		//This variable must be loaded before because other JS files will record their IDs inside
		var app_application_objects = {
			//Must be app_application_objects.lincko_record[app_application_objects.lincko_record_index++] = {id: 'ElemID', action: function(){ dosomething(); }}
			lincko_record: {},
			lincko_record_index: 0,
			lincko_record_update: function(){
				var exist = false;
				for(var index in this.lincko_record){
					exist = false;
					if(typeof this.lincko_record[index].id === 'string' && typeof this.lincko_record[index].action === 'function'){
						if($('#'+this.lincko_record[index].id).length > 0){
							this.lincko_record[index].action();
							exist = true;
						}
					}
					if(!exist){ delete this.lincko_record[index]; }
				}
			},
		};
	</script>
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/application.js') }}");
		//Some JS that are not linked to a twig file
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/generic/storage.js') }}");
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/users.js') }}");
	</script>
	{% include '/bundles/lincko/app/templates/generic/scripts/storage.js.twig' %}
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/application.css') }}" type="text/css" />
</div>
<div id="app_application_main">
	<div id="app_application_project">
		{% include '/bundles/lincko/app/templates/app/project.twig' %}
	</div>
	<div id="app_application_content">
		{% include '/bundles/lincko/app/templates/app/content.twig' %}
	</div>
	<div id="app_application_project_block" class="app_application_block maxMobileL"></div>
</div>
<div id="app_application_submenu_block">
	{% include '/bundles/lincko/app/templates/generic/submenu.twig' %}
</div>
<div class="app_application_upload">
	{% include '/bundles/lincko/app/templates/app/upload.twig' %}
</div>
<div id="end_app_application" class="visibility_hidden"></div>
{% endblock %}
