{% extends '/bundles/lincko/app/templates/generic/base.twig' %}

{% block content %}
	<div style="font-size: 14px;padding: 10px;">
		Hello {{ user }},<br />
		<br />
		This page will be the application.<br />
		I mostly worked on the logic in PHP and JS and a little CSS, 
		to make our inhouse framework to build new plugins faster and to be easily responsive.<br />
		Now I start to work on the application layout.
		<br />
		<br />
		<a href="{{ urlFor('home') }}">Back to the website</a>
	</div>
{% endblock %}
