{% extends '/bundles/lincko/app/templates/generic/base.twig' %}

{% block app_application %}
<div id="begin_app_application" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/application.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/application.css') }}" type="text/css" />
</div>
<div id="app_application_main">
	<div id="app_application_project">
		{% include '/bundles/lincko/app/templates/app/project.twig' %}
	</div>
	<div id="app_application_content">
		{% include '/bundles/lincko/app/templates/app/content.twig' %}
	</div>
	<div id="app_application_project_block" class="app_application_block maxMobileL"></div>
</div>
<div id="app_application_submenu_block">
	{% include '/bundles/lincko/app/templates/generic/submenu.twig' %}
</div>
<div class="app_application_upload">
	{% include '/bundles/lincko/app/templates/app/upload.twig' %}
</div>
<div id="end_app_application" class="visibility_hidden"></div>
{% endblock %}
