{% extends '/bundles/lincko/app/templates/generic/base.twig' %}

{% block content %}
	<div style="font-size: 14px;padding: 10px;">
		This page will be the application<br />
		I mostly worked on the logic in PHP and JS, to make our inhouse framework to build new plugins faster.<br />
		Now I start to work on the layout.
		<br />
		<br />
		<a href="{{ urlFor('home') }}">Back the the website</a>
	</div>
{% endblock %}
