{# category 3 #}
<div id="begin_app_layers" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/layers.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/layers.css') }}" type="text/css" />
</div>
<div>
	Here will be displayed the content of the project, for exemple all tasks, budget, and so.
</div>
<div id="end_app_layers" class="visibility_hidden"></div>
