{# category 3 #}
<div id="begin_app_layers" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/layers.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/layers.css') }}" type="text/css" />
</div>
{% include '/bundles/lincko/app/templates/models/projects.twig' %}
{% include '/bundles/lincko/app/templates/models/tasks.twig' %}
<div id="app_layers_content"></div>
<div id="end_app_layers" class="visibility_hidden"></div>
