<div id="begin_app_loading" class="visibility_hidden">
	<script>
		wrapper_load_progress.progress_bar = 'app_loading_progress_bar';
		wrapper_load_progress.progress_wall = 'app_loading_progress_wall';
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/loading.css') }}" type="text/css" />
</div>
<div id="app_loading_progress_wall">
	<div id="app_loading_progress_wall_cell">
		<table id="app_loading_table">
			<tr>
				<td></td>
				<td id="app_loading_cell_center">
					<div>LINCKO</div>
					<div id="app_loading_progress">
						<div id="app_loading_progress_bar"></div>
					</div>
				</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
<div id="end_app_loading" class="visibility_hidden"></div>

