{# category 2 #}
<div id="begin_app_project" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/models/notification.js') }}", 30);
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/project.js') }}", 50);
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/project.css') }}" type="text/css" />
</div>
	<div id="app_project_content" class="base_PrimaryMainMenu">
		<header id="app_project_top" class="clear">
			<aside class="icon-Settings"></aside>
			<article>Lincko</article>
		</header>
		<section id="app_project_placeholder">
			Personal Space
		</section>
		<section id="app_project_tab">
			<span id="app_project_project_new" class="app_project_header_add icon-Plus-no-circle"></span>
			<header class="clear">
				<div class="app_project_header_stats">
					<span>All</span>
					<span>(4)</span>
					<span class="icon-Forward"></span>
				</div>
				<p class="sub_header">My Projects</p>
			</header>
			<section style="display: none" id="-app_project_item" class="app_project_item">
				<div class="app_project_item_stats clear">
					<span>100</span>
					<span class="icon-Tasks"></span>
					<span>100</span>
					<span class="icon-New-Notes"></span>
					<span>100</span>
					<span class="icon-Cloud-Files"></span>
				</div>
				<p></p>
			</section>
		</section>
		<section id="app_project_chat">
			<header>
				<div class="app_project_header_stats">
					All
					<span class="icon-Forward"></span>
				</div>
				<p class="sub_header">Chat</p>
			</header>
			<section style="display: none" id="-app_project_chat_item" class="app_project_chat_item clear">
			<div class="logo_wrapper">
				<!--<img src="" class="logo">-->
				<span class="logo"></span>
				<div class="notification"></div>
			</div>
			<div class="app_project_chat_item_content">
					<header></header>
					<article></article>
			</div>
			</section>
		</section>
		<section id="quick_access">
			<span class="icon-Tasks display_none" id="app_project_quick_access_tasks"></span><!--TODO: dangling link-->
			<span class="icon-New-Notes display_none" id="app_project_quick_access_notes"></span><!--TODO: dangling link-->
			<span class="icon-Multipler-Persona" id="app_project_quick_access_chat"></span>
		</section>
	</div>

<div id="end_app_project" class="visibility_hidden"></div>
