{# category ? #}
<div id="begin_app_layers_notes" class="visibility_hidden">
	<script>
		JSfiles.later("{{ _filelatest('/lincko/app/scripts/app/layers/notes.js') }}");
	</script>
	<link rel="stylesheet" href="{{ _filelatest('/lincko/app/styles/app/layers/notes.css') }}" type="text/css" />
</div>
<div id="end_app_layers_notes" class="visibility_hidden"></div>

<div class="display_none">

	<div id="-app_layers_notes" class="app_layers_notes">
	</div>
	<div id="-app_layers_notes_noteslist" class="app_layers_notes_noteslist">
	</div>

</div>
