.app_models_lincko_audio{
	line-height: 24px;
	overflow: hidden;
	cursor:pointer;
}

.app_models_lincko_audio_content{
	height:24px;
	line-height: 24px;
	border-radius: 8px;
	padding: 3px 8px;
	background-color:rgba(182, 214, 232, 0.20);
	float:left;
	width:auto;
	height:auto;
	overflow:hidden;
	cursor:pointer;
}

.app_models_lincko_audio_content:active{
	background-color:rgba(182, 214, 232, 0.40);
}

.models_history_audio_shortcut{
	display:block;
	float:left;
	color: #fba026;
	font-size: 24px;
	cursor:pointer;
}

.models_history_audio_duration{
	display: block;
	float:left;
	line-height: 24px;
	height:24px;
	width:40px;
	text-align: right;
	cursor:pointer;
}


.models_history_self .models_history_audio_shortcut{
	float:right !important;
}

.models_history_self .models_history_audio_duration
{
	float:right !important;
	text-align: left !important;
}

.app_models_lincko_audio_hidden {
	position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
    overflow: hidden;
    opacity: 0;
}
