.app_models_lincko_audio{
	height:20px;
	line-height: 20px;
	border-radius: 8px;
	padding: 5px 8px;
	border: 1px solid rgba(151, 151, 151, 0.26);
	background-color:rgba(182, 214, 232, 0.20);
}

.models_history_audio_shortcut{
	display:inline-block;
	color: #fba026;
	font-size: 20px;
}

.models_history_audio_duration{
	display: inline-block;
	line-height: 20px;
	height:20px;
	width:60px;
}


.models_history_self .models_history_audio_shortcut{
	float:right;
}

.models_history_self .models_history_audio_duration
{
	float:right;
}
