.app_models_files_imageOrientation1{
	/*1 => Do nothing*/
}
.app_models_files_imageOrientation2{
	/*2 => Flip horizontal (x)*/
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    filter: FlipH;
    -ms-filter: "FlipH";
}
.app_models_files_imageOrientation3{
	/*3 => Rotate 180 clockwise (180)*/
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.app_models_files_imageOrientation4{
	/*4 => vertical flip (y)*/
	-moz-transform: scaleY(-1); /*IE 9*/
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    filter: FlipV;
    -ms-filter: "FlipV";
}
.app_models_files_imageOrientation5{
	/*5 => Rotate 90 clockwise and flip vertically (90 + y)*/
	-ms-transform: rotate(90deg) scaleY(-1); /* IE 9 */
    -webkit-transform: rotate(90deg) scaleY(-1); /* Safari */
    -moz-transform: rotate(90deg) scaleY(-1);
    -o-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.app_models_files_imageOrientation6{
	/*6 => Rotate 90 clockwise*/
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.app_models_files_imageOrientation7{
	/*7 => Rotate 90 clockwise and flip horizontally (90 + x)*/
	-ms-transform: rotate(90deg) scaleX(-1); /* IE 9 */
    -webkit-transform: rotate(90deg) scaleX(-1); /* Safari */
    -moz-transform: rotate(90deg) scaleX(-1);
    -o-transform: rotate(90deg) scaleX(-1);
    transform: rotate(90deg) scaleX(-1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.app_models_files_imageOrientation8{
	/*8 => Rotate 270 clockwise (270)*/
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
