.date {
	display: none;
}

.date,
.time {
	font-size: 10px;
	line-height: 1;
	color: #979797;
}

.app_layers_history {
	list-style-type: none;
}

.submenu_chat_contents {
	list-style-type: none;
	color: black;
}

.models_history_wrapper {
	font-size: 14px;
	line-height: 1.6;
	text-align: left;
	margin: 0px auto;
}

.models_history_content_wrapper {
	max-width: 60%;
	word-wrap: break-word;
}

.models_history_content {
	border-radius: 8px;
	padding: 5px 8px;
	position: relative;/*added this to position chat bubble actionMenu*/
}



.models_history_content:focus {
	outline: 0;
}

.models_history_content [contenteditable]:focus {
	outline: 0;
}


/*hidden contenteditable for focus control - hidden without using visibility or display:none */
.models_history_wrapper[category=files] .models_history_content [contenteditable]{
 	position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
    overflow: hidden;
    opacity: 0;
}
.models_history_wrapper[category=files] .app_models_chats_bubble_actionMenu [find=translate_btn]{
	display: none;
}

.upload_stopped_file .models_history_content {
	cursor: default;
}

.comments .models_history_content {
	cursor: default;
}

.models_history_comment_recalled {
	text-align: center;
	padding-top: 8px;
	padding-bottom: 5px;
	font-weight: 200;
	color: #333333;
}
.models_history_comment_recalled [find=timestamp] {
	font-weight: 400;
}

.uploading_file .models_history_content {
	cursor: default;
}



.models_history_standard_shortcut {
	cursor: pointer;
}

.models_history_self .models_history_content {
	background-color: rgba(103, 158, 82, 0.22);
}
.models_history_self .time {
	text-align: right;
}

.models_history_others .models_history_content {
	background-color: rgba(182, 214, 232, 0.20);
}

.files .models_history_content {
	border: 1px solid rgba(151, 151, 151, 0.26);
	background-color: rgba(182, 214, 232, 0.20);
}

.clear:after {
	content: '';
	width: 0;
	display: table;
	clear: both;
}

.models_history_id {
	width: 80px;
	height: 80px;
}

.models_history_id .icon{
	cursor: pointer;
	cursor: hand;
}

.models_history_loading {
	text-align: center;
	line-height: 30px;
	height:auto;
	overflow:hidden;
}

.models_history_loading_hide {
	visibility: hidden;
}

.models_history_loading i
{
	font-size: 16px;
	color:#cccccc;
}

.models_history_line {
	font-size: 14px;
	text-align: center;
	width: auto;
	margin:0 auto;
	color: #679e52;
	padding-top:10px;
	padding-bottom:5px;
}

.models_history_line .models_history_line_box{
	display:inline-block;
	position: relative;
	width: auto;
	margin:0 auto;
}

.models_history_line_box .separator_left{
	position:absolute;
	top:0;
	left: 0;
	width: 30px;
	border-bottom: 1px solid #679e52;
	height: 9px;
}

.models_history_line_box .separator_right{
	position:absolute;
	top:0;
	right:0;
	width:30px;
	border-bottom: 1px solid #679e52;
	height: 9px;
}

.models_history_line .history_time{
	margin:0 40px;
	width:auto;
	display: inline-block;
}

.models_history_others > * {
	float: left;
}

.models_history_self > * {
	float: right;
	color: #3270a0;
}

.models_history_id {
	margin: 12px 12px 6px 12px;
}

.models_history_id_author {
	margin: 0 auto;
	text-align: center;
	color: #475577;
	display: block;
	font-size: 12px;
	font-weight: 200;
}

.models_history_id_icon {
	margin: 0 auto;
	width: 48px;
	height: 48px;
	display: block;
	border-radius: 100%;
	border: 2px solid #FBA026;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	cursor: hand;
}

.models_history_standard_target {
	font-weight: 500;
}

.models_history_standard_shortcut_wrapper {
	padding: 6px 10px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.models_history_standard_shortcut_wrapper > span {
	vertical-align: top;
}

.models_history_standard_shortcut {
	display: inline-block;
	height: 48px;
	border-radius: 10%;
	margin-right: 10px;
}

.tasks .models_history_standard_target,
.notes .models_history_standard_target,
.comments .models_history_standard_target
{
	color: #FB7D23;
	cursor: pointer;
	cursor: hand;
}


.files .models_history_standard_target_wrapper
{
	cursor: pointer;
	cursor: hand;
}

.models_history_standard_previous {
	color: #97C2DF;
	font-size: 11px;
}


.uploading_file .models_history_standard_shortcut_wrapper {
	padding: 6px 10px;
	margin:0;
	height: auto;
}

.upload_failed_file .models_history_standard_shortcut_wrapper {
	padding: 6px 10px;
	margin: 0;
	height: auto;
}


.uploading_file .upload_file_title,.uploaded_file .upload_file_title
{
	color: black;
}


.uploading_file .uploading_file_progress_size
{
	color:gray;
	font-size: 10px;
	margin:0 0 8px 0;
}

.uploaded_file .uploading_file_progress_size
{
	display: none;
}

.models_history_standard_target_wrapper {
	text-align: center;
	display: inline-block;
}

.models_history_standard_shortcut_wrapper > .models_history_standard_shortcut {
	vertical-align: middle;
}

/*.models_history_standard_shortcut_wrapper .icon-PauseCloud,
.models_history_standard_shortcut_wrapper .icon-ResumeCloud,
.models_history_standard_shortcut_wrapper .icon-Docs {
	display: block;
	font-size: 50px;
}*/

.models_history_standard_shortcut_wrapper i
{
	font-size: 48px;
	height: 48px;
	width: 80px;
	color: #475577;
	filter: alpha(opacity=36);
	-moz-opacity: 0.36;
	opacity: 0.36;
	text-align: center;
}



.uploading_file, .models_history_standard_shortcut_wrapper .uploading_action:before {
	content: "X ";
}

.uploading_file .models_history_standard_shortcut_wrapper .uploading_action {
	color: #BE2B1F;
	cursor: pointer;
	cursor: hand;
}

.uploaded_file .models_history_standard_shortcut_wrapper .uploading_action{
	display: none
}

.upload_failed_file .models_history_standard_shortcut_wrapper .uploading_action {
	color: #53ADD2;
}


.models_history_standard_shortcut_wrapper .progress_bar {
	height: 1px;
	background-color: #FBA026;
	position: absolute;
	left: 0;
	top: 0;
}

.models_history_standard_shortcut_wrapper .progress_bar_wrapper {
	height: 1px;
	background-color: #979797;
	position: relative;
	margin: 8px 0 6px 0;
}

.uploaded_file .progress_bar_wrapper {
	display:none;
}

.models_history_standard_target_wrapper p {
	margin: 0;
}

.models_history_standard_target_wrapper {
	line-height: 1;
}

.models_history_standard_shortcut_uploading {
	cursor: auto;
}

.models_history_standard_shortcut_ico {
	border-radius: 0;
	display: inline-block;
	vertical-align: top !important;
	height: 48px;
}

.models_history_standard_shortcut_pic {
	width: 80px;
	height: 48px;
	border-radius: 0;
	background-color: transparent;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	vertical-align: top !important;
	box-sizing: border-box;
	border: 2px solid rgba(255, 255, 255, 0.2);
}

.models_history_standard_shortcut_pic:hover {
	border: 2px solid rgba(255, 255, 255, 0.8);
}

.models_history_standard_shortcut_pic:active {
	border: 2px solid rgba(255, 255, 255, 1);
}

.models_history_profile_pic {
	border: solid 1px #FBA026;
	border-radius: 100%;
	box-sizing: border-box;
}

.models_history_notif {
	position: absolute;
	top: -3px;
	right: -6px;
	background-color: #BE2B1F;
	filter:alpha(opacity=70);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity:0.7;
	border-radius: 12px;
	color: #FFFFFF;
	font-size: 9px;
	padding: 3px 3px;
	font-family: Consolas, monospace;
	min-width: 8px;
	min-height: 8px;
	text-align: center;
	line-height: 1;
	letter-spacing: 0px;
}


.answers_wrapper
{
	height: auto;
	overflow: hidden;
	width: auto;
	text-align: right;
}
.models_history_answer_options{
	 margin:10px;
	 height: auto;
	 overflow:hidden;
}
.app_models_resume_onboarding_answer{
	display: inline-block;
	border-radius: 8px;
    padding: 5px 8px;
    background-color: rgba(103, 158, 82, 0.22);
    margin: 5px;
    float:none;
    text-align: left;
}

.models_history_standard_content img{
	max-width:100%;
}

.onboarding img{
	cursor: pointer;
}

.remove_bg .onboarding{
	background-color: white;
	padding:0;
}
.remove_bg .onboarding img{
	border-radius: 8px;
	border:1px solid rgba(182, 214, 232, 0.20);
}

.files .models_history_audio{
	background-color: #ffffff;
	border: 0 !important;
	padding:0 !important;
}
/* Mobile phone in Portrait */

@media only screen and (max-width: 479px) {
	.models_history_standard {
		background-color: transparent;
		color: #085798;
		border-radius: 0;
		border-bottom-color: rgba(129, 157, 180, 0.25) !important;
		width: 100%;
		max-width: none;
		min-width: none;
		margin: 0px;
		padding: 10px;
	}
	.models_history_standard_content {
		/*color: #819DB4;*/
	}
	.models_history_notif {
		font-size: 8px;
		padding-bottom: 2px;
	}
}


/* Mobile phone in Landscape and Tablet in Portrait */

@media only screen and (min-width: 480px) and (max-width: 900px) {
	.models_history_standard {
		width: 80%;
	}
}


/* Tablet in Landscape */

@media only screen and (min-width: 901px) and (max-width: 1279px) {
	.models_history_standard {
		width: 80%;
	}
}


