.date {
    display: none;
}

.time {
    font-size: 10px;
    line-height: 1;
    color: #979797;
}

.app_layers_history {
    list-style-type: none;
}

.submenu_chat_contents {
    list-style-type: none;
    color: black;
}

.models_history_wrapper {
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    margin: 10px auto;
}

.models_history_content_wrapper {
    max-width: 60%;
}

.models_history_content {
    border-radius: 8px;
    padding: 5px 8px;
    cursor: pointer;
}

.models_history_self .models_history_content {
    background-color: rgba(103, 158, 82, 0.22);
}

.models_history_others .models_history_content {
    background-color: rgba(182, 214, 232, 0.20);
}

.files .models_history_content {
    //border-color: rgba(151, 151, 151, 0.26);
    border: 1px solid rgba(151, 151, 151, 0.26);
}

.clear:after {
    content: '';
    width: 0;
    display: table;
    clear: both;
}

.models_history_id {
    width: 80px;
    height: 80px;
}

.models_history_line {
    font-size: 14px;
    text-align: center;
    width: 128px;
    margin: 0 auto;
    color: #679e52;
}

.models_history_line .separator:first-child {
    float: left;
    width: 30px;
    border-bottom: 1px solid #679e52;
    height: 9px;
}

.models_history_line .separator:nth-child(2) {
    float: right;
    width: 30px;
    border-bottom: 1px solid #679e52;
    height: 9px;
}

.models_history_others > * {
    float: left;
}

.models_history_self > * {
    float: right;
    color: #3270a0;
}

.models_history_id {
    margin: 12px;
}

.models_history_id > h5 {
    margin: 0 auto;
    text-align: center;
    color: #475577;
}

.models_history_id > .icon {
    margin: 0 auto;
    width: 48px;
    display: block;
    border-radius: 30px;
    background-color: #FB7D23;
}

.models_history_standard_target {
    font-weight: 500;
}

.models_history_standard_shortcut_wrapper {
    padding: 6px 20px;
    margin: 6px auto;
}

.models_history_standard_shortcut_wrapper > span{
    vertical-align: top;
}

.models_history_standard_shortcut {
    display: inline-block;
    width: 60px;
    border-radius: 10%;
    margin-right: 10px;
}

.tasks .models_history_standard_target:before {
    color: #FB7D23;
    content: "\"";
}

.tasks .models_history_standard_target:after {
    color: #FB7D23;
    content: "\"";
}

.tasks .models_history_standard_target {
    color: #FB7D23;
}

.comments .models_history_standard_target {
    color: #FB7D23;
}
/* Mobile phone in Portrait */

@media only screen and (max-width: 479px) {
    .models_history_standard {
        background-color: transparent;
        color: #085798;
        border-radius: 0;
        border-bottom-color: rgba(129, 157, 180, 0.25) !important;
        width: 100%;
        max-width: initial;
        min-width: initial;
        margin: 0px;
        padding: 10px;
    }
    .models_history_standard_content {
        color: #819DB4;
    }
}


/* Mobile phone in Landscape and Tablet in Portrait */

@media only screen and (min-width: 480px) and (max-width: 900px) {
    .models_history_standard {
        width: 80%;
    }
}


/* Tablet in Landscape */

@media only screen and (min-width: 901px) and (max-width: 1279px) {
    .models_history_standard {
        width: 80%;
    }
}
