.pic_wrapper_video{
	height:100%;
	width:100%;
}

.mejs__container{
	height:100%;
	width:100%;
}

.mejs__inner{
	height:100%;
	width:100%;
}

.mejs__layers{
	height:100%;
	width:100%;
}


.mejs__layer{
	height:100%;
	width:100%;
}


.mejs__mediaelement{
	width:100%;
	height:100%;
}

.pic_preview_full_screen {
	position:fixed !important;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 2006;
}

.pic_preview_wrapper {
	z-index: 9999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	width: 80%;
	height: 80%;
	background-color: rgba(0, 0, 0, 0.6);
}

.pic_width_wrapper {
	position: relative;
}

.pic_wrapper_pic {
	display: block;
	/*
	max-width: 100%;
	max-height: 100%;
	*/
	width: 100%;
	height: 100%;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	margin: 0 auto;
}

.jwplayer {
	display: block;
	margin: 0 auto;
}

.pic_preview_wrapper .close {
	color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	-webkit-transform: translate(50%,-50%);
	-moz-transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	cursor: pointer;
	font-size: 26px;
}

.pic_preview_wrapper .pic_wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: 70%;
	width: 80%;
	text-align: center;
}

.pic_preview_wrapper .pic_preview_name  {
	color: #FBA026;
	margin: 5px;
	font-size: 15px;
	line-height: 1;
}

.pic_preview_wrapper .pic_preview_icon {
	color: #53ADD2;
	font-size: 30px;
	margin-bottom: 10px;
	cursor: pointer;
	display: block;
	text-decoration: none;
}


/*MobileL and smaller */
@media only screen and (max-width: 900px) {
	.pic_preview_wrapper {
		width: 100%;
		height: 100%;
	}
	.pic_preview_wrapper .close {
		font-size: 32px;
		position: fixed;
		top: 20px;
		right: 20px;

	}
}
