/*
	PROJECTS
*/
.models_projects {
	background-color: #4C8EBB;
	color: #FFFFFF;
	border-radius: 4px;
	padding: 6px;
	margin: 20px;
	display: inline-block;
	border: 2px solid transparent;
	cursor: pointer; cursor: hand;
}

.models_projects:hover {
	border-color: rgba(255, 255, 255, 0.5);
}

.models_projects_line {
	display: block;
	height: 1px;
	width: 100%;
	padding: 4px 0;
}

.models_projects_line > div {
	height: 1px;
	width: 96%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.2);
}
