/*
	PROJECTS
*/
.models_projects_standard {
	vertical-align: top;
	color: #FFFFFF;
	border-radius: 2px;
	padding: 6px;
	padding-left: 20px;
	margin: 20px;
	display: inline-block;
	border: 2px solid transparent;
	cursor: pointer; cursor: hand;
	width: 25%;
	min-width: 220px;
	max-width: 360px;
	font-size: 12px;
	overflow: hidden;
	text-align: left;
	box-sizing: border-box;
}

.models_projects_standard_title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.models_projects_standard:hover {
	border-color: rgba(255, 255, 255, 0.5);
}

.models_projects_standard_favorite {
	width: 14px;
	height: 14px;
	float: right;
	visibility: hidden;
}

.models_projects_standard_details {
	white-space: nowrap;
	width: 100%;
	box-sizing: border-box;
	font-size: 0;
	text-align: left;
}

.models_projects_standard_picture {
	vertical-align: middle;
	display: inline-block;
	box-sizing: border-box;
	width: 25%;
	min-width: 40px;
}

.models_projects_standard_picture > img {
	height: 32px;
	width: 32px;
	padding: 8px;
}

.models_projects_standard_statistics {
	vertical-align: middle;
	display: inline-block;
	padding: 0;
	width: 70%;
	box-sizing: border-box;
}

.models_projects_standard_last {}

.models_projects_deletion {
	text-align: center !important;
	cursor: default !important;
	background-color: transparent !important;
	border-style: none !important;
}

.models_projects_deletion_button {
	display: inline-block !important;
	padding: 6px 32px !important;
	color: #FFFFFF !important;
	background-color: #BE2B1F !important;
	border: solid 2px transparent;
	border-radius: 4px;
	cursor: pointer; cursor: hand;
	box-sizing: border-box;
}

.models_projects_deletion_button:hover {
	border-color: rgba(255, 255, 255, 0.3) !important;
}

.models_projects_id {
	text-align: right !important;
	padding: 2px 6px;
	box-sizing: border-box
}

.models_projects_new_field {
	text-align: center !important;
	cursor: default !important;
	background-color: transparent !important;
	border-style: none !important;
}

.models_projects_new_field_button {
	display: inline-block !important;
	padding: 6px 32px !important;
	color: #FFFFFF !important;
	background-color: #7BB1A9 !important;
	border: solid 2px transparent;
	border-radius: 4px;
	cursor: pointer; cursor: hand;
	box-sizing: border-box;
}

.models_projects_new_field_button:hover {
	border-color: rgba(255, 255, 255, 0.3) !important;
}

.models_projects_tab {
	font-size: 16px;
	border-top: solid 1px #EBEFF3;
}
.models_projects_tab > span{
	padding-left: 7%;
}


/* Mobile phone in Portrait */
@media only screen and (max-width: 479px){
	.models_projects_standard {
		border-radius: 0;
		border-width: 0;
		border-color: transparent;
		border-bottom-width: 2px;
		border-bottom-color: rgba(255, 255, 255, 0.25) !important;
		width: 100%;
		max-width: none;
		min-width: none;
		margin: 0px;
		padding: 10px;
	}
	.models_projects_standard_last{
		border-bottom-color: transparent !important;
	}
	.models_projects_standard:hover {
		border-color: transparent;
		filter:alpha(opacity=90);
		opacity:0.90;
		-moz-opacity:0.90;
		-khtml-opacity:0.90;
	}
}

/* Mobile phone in Landscape and Tablet in Portrait */
@media only screen and (min-width: 480px) and (max-width: 900px){
	.models_projects_standard {
		width: 45%;
	}
}

/* Tablet in Landscape */
@media only screen and (min-width: 901px) and (max-width: 1279px){
	.models_projects_standard {
		width: 30%;
	}
}

/*progressbar*/
.models_projects_progressBar {
	position: relative;
    height: 10px;
    background-color: #e9e9e9;
    color: #FFFFFF;
    font-size: 10px;
    width: 100%;
   	overflow: hidden;
    height: 100%;
    line-height: 100%;
}
.models_projects_progressBar:after{
	content: '0%';
    left: 0px;
    padding-left: 4px;
    color: rgba(68, 68, 68, 0.7);
    opacity: 0;
    vertical-align: top;
    line-height: 100%;
    vertical-align: baseline;
}
.models_projects_progressBar.models_projects_progressBar_zero:after{
	opacity: 1;
}
.models_projects_progressBar_zero [find=bar]{
	visibility: hidden;
}
.models_projects_progressBar [find=bar]{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    background-color: rgba(251, 160, 38, 0.75);
    height: 100%;
}
.models_projects_progressBar [find=percent]{
    float: right;
    height: 100%;
    width: 100%;
    text-align: right;
    vertical-align: baseline;
}
.models_projects_progressBar [find=percent]:after{
	content: '%';
    padding-right: 5px;
}




/*projectsDeck*/
.app_models_projects_projectsDeck{
	position: relative;
    height: 100%;
}
.app_models_projects_projectsDeck [find=menuWrapper]{

}
.app_models_projects_projectsDeck [find=menuWrapper] [find=view]{
	display: table;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 16px;
    border-bottom: solid 1px #54add2;
    color: #475577;
}
.app_models_projects_projectsDeck [find=menuWrapper] [find=view] .app_models_projects_projectsDeck_viewOptionBox{
	display: table-cell;
    height: 40px;
    vertical-align: middle;
}
.app_models_projects_projectsDeck [find=menuWrapper] [find=view] .app_models_projects_projectsDeck_viewOptionBox span{
	vertical-align: middle;
}
.app_models_projects_projectsDeck [find=menuWrapper] [find=view] div:nth-child(even){
	border-left: solid 1px #54add2;
}
.app_models_projects_projectsDeck [find=menuWrapper] [find=view] [find=icon]{
	color: #54add2;
	font-size: 20px;
}

.app_models_projects_projectsDeck [find=menuWrapper] [find=searchBar_wrapper]{
	padding: 5px 10px;
}



.app_models_projects_projectsDeck [find=deckWrapper]{
	position: absolute;
    top: 36px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.app_models_projects_projectsDeck [find=deckWrapper_content]{
	position: relative;
}

.app_models_projects_projectsDeck [find=deckWrapper_content] [find=header_recent]{
    font-size: 14px;
    margin-top: 8px;
    padding: 4px 6px;
    color: #475577;
}

.app_models_projects_projectsDeck [find=deckWrapper_content] [find=divider]{
    padding-top: 1px;
    width: 110px;
    background-color: #475577;
    margin: 10px auto;
}

.app_models_projects_projectsDeck [find=deckWrapper_content] [find=btn_archived]{
	height: 40px;
    background-color: #FFFFFF;
    line-height: 40px;
    padding: 0px 10px;
    font-size: 16px;
    color: #475577;
    margin: 5px 0px;
}
.app_models_projects_projectsDeck [find=deckWrapper_content] [find=btn_archived][selected],
.app_models_projects_projectsDeck [find=deckWrapper_content] [find=btn_archived]:hover{
	background-color: rgba(250, 204, 146, 0.64);
}
.app_models_projects_projectsDeck [find=deckWrapper_content] [find=btn_archived] [find=icon]{
    line-height: 40px;
    float: right;
    color: #fba026;
}


.app_models_projects_projectsDeck_card{
	height: 70px;
	background-color: #FFFFFF;
	margin: 3px 0px;
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/*border-bottom: 1px solid rgba(0,0,0,0.24);*/
}
.app_models_projects_projectsDeck_card[selected],
.app_models_projects_projectsDeck_card:hover{
	background-color: rgba(250, 204, 146, 0.64);
}
.app_models_projects_projectsDeck_cardCenter_sidePaddingCell{
    width: 10px;
    display: table-cell;
}


.app_models_projects_projectsDeck_card [find=leftMenu_wrapper],
.app_models_projects_projectsDeck_card [find=cardCenter_wrapper]{
	display: inline-block;
}

.app_models_projects_projectsDeck_card [find=leftMenu_wrapper]{
	position: absolute;
	left: -72px;
}
.app_models_projects_projectsDeck_card [find="btn_archive"]{
	background-color: #BE2C1F; /*red*/
    line-height: 70px;
    width: 70px;
    text-align: center;
    font-size: 40px;
}


.app_models_projects_projectsDeck_card [find=cardCenter_wrapper]{
	width: 100%;
	height: 100%;
	display: table;
}
.app_models_projects_projectsDeck_card [find=cardCenter_wrapper] [find=preview],
.app_models_projects_projectsDeck_card [find=cardCenter_wrapper] [find=info]{
	display: table-cell;
	position: relative;
}
.app_models_projects_projectsDeck_card [find=cardCenter_wrapper] [find=preview]{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    padding: 5px 5px 5px 0px;
}
.app_models_projects_projectsDeck_card [find=cardCenter_wrapper] [find=preview] img{ /* no longer used -- [find=image] is used instead */
	max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0px auto;
}
.app_models_projects_projectsDeck_card [find=cardCenter_wrapper] [find=preview] [find=image]{
    width: 100%;
    height: 100%;
    display: block;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.app_models_projects_projectsDeck_card [find=info_activity]{
    font-size: 10px;
    color: #979797;
    position: absolute;
    left: 2px;
    right: 0px;
    top: 4px;
    padding-right: 10px;
}

.app_models_projects_projectsDeck_card [find=info_main]{
	position: absolute;
    font-size: 16px;
    height: 32px;
    left: 0px;
    right: 0px;
    top: 18px;
    padding-right: 118px;
    color: #475577;
}
.app_models_projects_projectsDeck_card [find=info_main]>div,
.app_models_projects_projectsDeck_card [find=info_main]>span{
	line-height: 32px;
}
.app_models_projects_projectsDeck_card [find=icon_wrapper]{
	position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-size: 28px;
    color: rgba(251, 160, 38, 0.75);
}
.app_models_projects_projectsDeck_card [find=icon_wrapper]>span{
	vertical-align: top;
}
.app_models_projects_projectsDeck_card [find=icon_wrapper] [find=icon_dashboard]:hover,
.app_models_projects_projectsDeck_card [find=icon_wrapper] [find=icon_settings]:hover{
	color: #FFFFFF;
}
.app_models_projects_projectsDeck_card [find=icon_wrapper] [find=icon_overdue]{
	position: relative;
	height: 28px;
    width: 28px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    margin-right: 6px;
}
.app_models_projects_projectsDeck_card [find=icon_wrapper] [find=icon_overdue] [find=team]{
	height: 100%;
    width: 100%;
    display: inline-block;
    line-height: 28px;
    text-align: center;
	font-size: 16px;
    background-color: #BE2B1f;
    color: #FFFFFF;
    border-radius: 30px;
    overflow: hidden;
}
.app_models_projects_projectsDeck_card [find=icon_wrapper] [find=icon_overdue] [find=me]{
    position: absolute;
    top: 0px;
    right: -8px;
    font-size: 10px;
    color: #BE2B1f;
    height: 10px;
    width: 10px;
    line-height: 10px;
}
.app_models_projects_projectsDeck_card [find=info_progress]{
    position: absolute;
    height: 14px;
    background-color: #d8d8d8;
    color: #FFFFFF;
    font-size: 9px;
    left: 0px;
    right: 0px;
    bottom: 5px;
    overflow: hidden;
    font-size: 14px;
}
.app_models_projects_projectsDeck_card [find=info_progress] .models_projects_progressBar{
	font-size: 14px;
}
