/*
	PROJECTS
*/
.models_projects_standard {
	vertical-align: top;
	color: #FFFFFF;
	border-radius: 2px;
	padding: 6px;
	padding-left: 20px;
	margin: 20px;
	display: inline-block;
	border: 2px solid transparent;
	cursor: pointer; cursor: hand;
	width: 25%;
	min-width: 220px;
	max-width: 360px;
	font-size: 12px;
	overflow: hidden;
	text-align: left;
	box-sizing: border-box;
}

.models_projects_standard_title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.models_projects_standard:hover {
	border-color: rgba(255, 255, 255, 0.5);
}

.models_projects_standard_favorite {
	width: 14px;
	height: 14px;
	float: right;
	visibility: hidden;
}

.models_projects_standard_details {
	white-space: nowrap;
	width: 100%;
	box-sizing: border-box;
	font-size: 0;
	text-align: left;
}

.models_projects_standard_picture {
	vertical-align: middle;
	display: inline-block;
	box-sizing: border-box;
	width: 25%;
	min-width: 40px;
}

.models_projects_standard_picture > img {
	height: 32px;
	width: 32px;
	padding: 8px;
}

.models_projects_standard_statistics {
	vertical-align: middle;
	display: inline-block;
	padding: 0;
	width: 70%;
	box-sizing: border-box;
}

.models_projects_standard_last {}

.models_projects_deletion {
	text-align: center !important;
	cursor: default !important;
	background-color: transparent !important;
	border-style: none !important;
}

.models_projects_deletion_button {
	display: inline-block !important;
	padding: 6px 32px !important;
	color: #FFFFFF !important;
	background-color: #BE2B1F !important;
	border: solid 2px transparent;
	border-radius: 4px;
	cursor: pointer; cursor: hand;
	box-sizing: border-box;
}

.models_projects_deletion_button:hover {
	border-color: rgba(255, 255, 255, 0.3) !important;
}

.models_projects_id {
	text-align: right !important;
	padding: 2px 6px;
	box-sizing: border-box
}

.models_projects_new_field {
	text-align: center !important;
	cursor: default !important;
	background-color: transparent !important;
	border-style: none !important;
}

.models_projects_new_field_button {
	display: inline-block !important;
	padding: 6px 32px !important;
	color: #FFFFFF !important;
	background-color: #7BB1A9 !important;
	border: solid 2px transparent;
	border-radius: 4px;
	cursor: pointer; cursor: hand;
	box-sizing: border-box;
}

.models_projects_new_field_button:hover {
	border-color: rgba(255, 255, 255, 0.3) !important;
}

.models_projects_tab {
	font-size: 16px;
	border-top: solid 1px #EBEFF3;
}
.models_projects_tab > span{
	padding-left: 7%;
}


/* Mobile phone in Portrait */
@media only screen and (max-width: 479px){
	.models_projects_standard {
		border-radius: 0;
		border-width: 0;
		border-color: transparent;
		border-bottom-width: 2px;
		border-bottom-color: rgba(255, 255, 255, 0.25) !important;
		width: 100%;
		max-width: initial;
		min-width: initial;
		margin: 0px;
		padding: 10px;
	}
	.models_projects_standard_last{
		border-bottom-color: transparent !important;
	}
	.models_projects_standard:hover {
		border-color: transparent;
		filter:alpha(opacity=90);
		opacity:0.90;
		-moz-opacity:0.90;
		-khtml-opacity:0.90;
	}
}

/* Mobile phone in Landscape and Tablet in Portrait */
@media only screen and (min-width: 480px) and (max-width: 900px){
	.models_projects_standard {
		width: 45%;
	}
}

/* Tablet in Landscape */
@media only screen and (min-width: 901px) and (max-width: 1279px){
	.models_projects_standard {
		width: 30%;
	}
}
