.app_models_resume_span {
	display: inline-block;
	position: relative;
	width: 100%;
}

.app_models_resume_tasks {
	color: #F9A550;
	cursor: pointer;
}

.app_models_resume_tasks_overdue {
	color: #EC4545;
	cursor: pointer;
}

.app_models_resume_notes {
	color: #548DD2;
	cursor: pointer;
}

.app_models_resume_files {
	color: #548DD2;
	cursor: pointer;
}

.app_models_resume_files {
	width: 100%;
}

.app_models_resume_links {
	display: inline-block;
	padding: 2px 6px;
	width: 100%;
	box-sizing: border-box;
}

.app_models_resume_links:hover {
	text-decoration: underline;
}


.app_models_resume_individual_span {
	/*display: table-row !important;*/
}

.app_models_resume_individual_span > span {
	display: table-cell;
}

.app_models_resume_individual_private {
	font-style: italic;
	color: #131313;
	padding-bottom: 4px;
	white-space: normal;
}

.app_models_resume_individual_shhh {
	vertical-align: middle;
	text-align: center;
	padding: 0 12px 0 6px;
	color: #F9A550;
}
