/*
 *
 */

.submenu_wrapper {
	background-color: #FFFFFF;
	box-sizing: border-box;
	position: absolute;
	font-size: 14px;
	width: 320px;
	height: 100%;
	display: none;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.submenu_wrapper_important {
	position: absolute !important;
	width: 100% !important;
}

.submenu_top {
	display: table;
	table-layout: fixed;
	line-height: 48px;
	height: 48px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: #313335;
	background-image: url('/lincko/app/images/submenu/top.png');
	background-repeat: repeat-x;
	position: absolute;
	overflow: hidden;
}

.submenu_bottom {
	display: table;
	table-layout: fixed;
	height: 48px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: #313335;
	background-image: url('/lincko/app/images/submenu/top.png');
	background-repeat: repeat-x;
	position: absolute;
	overflow: hidden;
	bottom: 0;
}

.submenu_content {
	width: 100%;
	top: 48px;
	/*bottom: 0px;*/
	position: absolute;
	overflow: hidden;
}

.submenu_back {
	display: table-cell;
	padding: 0 0 0 16px;
	color: #F8F8F8;
	white-space: nowrap;
	height: 100%;
	cursor: pointer; cursor: hand;
	vertical-align: middle;
	text-align: center;
}

.submenu_back:hover {
	background-color: #181A15;
	background-image: none;
}

.submenu_back:active {
	color: #6F7377;
	background-image: url('/lincko/app/images/submenu/active.png');
	box-shadow: inset 4px 4px 13px -5px #313335;
	-moz-box-shadow: inset 4px 4px 13px -5px #313335;
	-webkit-box-shadow: inset 4px 4px 13px -5px #313335;
}

.submenu_close {
	display: table-cell;
	padding: 0 0 0 16px;
	color: #6F7377;
	white-space: nowrap;
	height: 100%;
	cursor: pointer; cursor: hand;
	vertical-align: middle;
	text-align: center;
}

.submenu_title {
	display: table-cell;
	padding: 0 16px 0 16px;
	color: #F8F8F8;
	white-space: nowrap;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	width: auto;
	font-size: 16px;
}

.submenu_title_center {
	width: 100%;
}

.submenu_top_side {
	display: table-cell;
	padding: 0;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	width: 62px;
}

.submenu_bottom_cell {
	display: table-cell;
	padding: 0 16px 0 16px;
	color: #F8F8F8;
	white-space: nowrap;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.submenu_bottom_valid {
	position: relative;
	padding: 6px 30px;
	border-radius: 5px;
	border: 2px solid #F8F8F8;
	font-size: 16px;
	cursor: pointer; cursor: hand;
	margin-right: 10px;
	margin-left: 10px;
	color: #F8F8F8;
	background-color: transparent;
}

.submenu_bottom_valid:hover {
	background-color: #181A15;
}

.submenu_bottom_valid:active {
	background-color: #969696;
}

.submenu_deco_read {
	display: table;
	/*table-layout: fixed;*/
	white-space: nowrap;
	color: #6F7377;
	background-color: #FAFBFC;
	border-bottom: solid 1px #EBEFF3;
	cursor: default;
	overflow: hidden;
	text-align: left;
}

.submenu_deco {
	display: table;
	/*table-layout: fixed;*/
	white-space: nowrap;
	color: #6F7377;
	background-color: #FAFBFC;
	border-bottom: solid 1px #EBEFF3;
	cursor: pointer; cursor: hand;
	overflow: hidden;
	text-align: left;
}
.submenu_deco:hover {
	background-color: #FFFFFF;
}

.submenu_deco_info {
	cursor: default !important;
}



.submenu_deco_fix {
	background-color: #FFFFFF !important;
}

.submenu_deco_next {
	background-color: #FFFFF0 !important;
}

.submenu_padding {
	display: table-cell;
	vertical-align: middle;
	padding: 0 16px 0 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.submenu_value {
	font-style: italic;
	text-align: right !important;
}

.submenu_radio {
	text-align: right !important;
}

.submenu_icon {
	height: 20px;
	padding-left: 6px;
	vertical-align: middle;
}

.submenu_icon_next {
	filter:alpha(opacity=30);
	opacity:0.3;
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
}

.submenu_back_image {
	border-right: #343434 2px solid;
	padding-right: 14px;
	float: right;
	background-image: url('/lincko/app/images/submenu/back_w.png');
	background-size: 32px 32px;
	background-repeat: no-repeat;
}

.submenu_back:hover .submenu_back_image {
	border-color: transparent;
}

.submenu_back:active .submenu_back_image {
	border-color: transparent;
	filter:alpha(opacity=40);
	opacity:0.4;
	-moz-opacity:0.4;
	-khtml-opacity:0.4;
	background-image: url('/lincko/app/images/submenu/back_b.png');
}


.submenu_close_image {
	padding-right: 14px;
	float: right;
	filter:alpha(opacity=30);
	opacity:0.3;
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
}

.submenu_close:hover .submenu_close_image {
	filter:alpha(opacity=40);
	opacity:0.4;
	-moz-opacity:0.4;
	-khtml-opacity:0.4;
}

.submenu_close:active .submenu_close_image {
	filter:alpha(opacity=60);
	opacity:0.6;
	-moz-opacity:0.6;
	-khtml-opacity:0.6;
}

.submenu_title_small {
	color: #D7D4D1;
	font-size: 12px;
	text-align: left;
	width: 100%;
	padding-bottom: 2px;
}

.submenu_title_small > span {
	padding-left: 6px;
}

.submenu_title_small_top {
	border-top: 1px solid #EFEFEF;
}


.submenu_input_text, .submenu_input_textarea {
	display: block;
	font-size: 16px;
	color: #3A3D41;
	margin-bottom: 20px;
	text-align: left;
}

.submenu_input_text > div, .submenu_input_textarea > div {
	color: #BABDC0;
	margin-left: 5%;
	padding: 6px 10px 4px 2%;
}

.submenu_input_text > input {
	width: 80%;
	padding: 6px 10px 6px 9px;
	font-size: 16px;
	background: #FFFFFF;
	background-color: #FFFFFF;
	background: -webkit-linear-gradient(#FFFFFF,#F2F2F2) !important; /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFFFFF,#F2F2F2) !important; /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF,#F2F2F2) !important; /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFFFF,#F2F2F2) !important; /* Standard syntax */
	border-radius: 4px;
	border-width: 1px;
	margin-left: 5%;
	cursor: text;
}

.submenu_input_textarea > textarea {
	width: 80%;
	padding: 6px 10px 6px 9px;
	font-size: 16px;
	background: #FFFFFF;
	background-color: #FFFFFF;
	background: -webkit-linear-gradient(#FFFFFF,#F2F2F2) !important; /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFFFFF,#F2F2F2) !important; /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF,#F2F2F2) !important; /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFFFF,#F2F2F2) !important; /* Standard syntax */
	border-radius: 4px;
	border-width: 1px;
	margin-left: 5%;
	cursor: text;
}

.submenu_select {
	display: table;
	white-space: nowrap;
	cursor: pointer; cursor: hand;
	overflow: hidden;
	text-align: left;
	color: #BABDC0;
	font-size: 16px;
}

.submenu_select_title {
	padding-left: 7%;
}

.submenu_select_value {
	color: #6F7377;
}

.submenu_select:hover {
	background-color: #FAFBFC;
}

.submenu_top .submenu_value {
	display: none;
}

.submenu_top .submenu_top_side_left {
	position: absolute;
	left: 0;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	z-index: 2;
	font-size: 14px;
}

.submenu_top .submenu_top_side_right {
	position: absolute;
	right: 0;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	z-index: 2;
	font-size: 14px;
}

#app_application_submenu_block .submenu_wrapper {
	width: 33.33%;
}

/* Start app_project */

/* End app_project */

/* Minimum Desktop */
@media only screen and (min-width: 1280px) {
	.submenu_wrapper {
		border: 0 solid #DFDFDF;
		border-width: 0 1px 0 0;
		position: relative;
		float: left;
	}
	.submenu_wrapper_preview {
		border-width: 0px 0px 0px 1px !important;
		left: 0;
		top: 0;
	}
	.submenu_top {
		background-color: #DFDFDF;
		background-image: url('/lincko/app/images/submenu/active.png');
	}
	.submenu_title {
		color: #6F7377;
	}
	.submenu_top_side {
		width: 46px;
	}
	.submenu_bottom {
		background-color: #BCBCBC;
		background-image: none;
	}
	.submenu_bottom_valid:hover {
		background-color: #A9A9AA;
	}
	.submenu_bottom_valid:active {
		background-color: #969696;
	}
	.submenu_app_upload_progress_full {
		border-color: #CAE4C7;
	}
	.submenu_app_upload_progress_pc {
		background-color: #CAE4C7;
	}
}

@media only screen and (min-width: 480px) and (max-width: 1279px) {
	.submenu_app_upload_progress_pc {
		min-height: 22px;
	}
	.submenu_app_upload_progress_pc_text {
		font-size: 12px;
		line-height: 22px;
	}
	.submenu_app_upload_single_cancel_image {
		height: 24px;
	}
}

/* Maximum Tablet Landscape */
@media only screen and (max-width: 1279px) {
	.submenu_wrapper {
		width: 100% !important; 
	}
	.submenu_title {
		font-size: 15px;
	}
}
